<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增欠发票记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-oaPaymentOweBill-add">
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">支付单据编号：</label>
            <div class="col-sm-8">
            	<input id="code" name="code" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">申请人：</label>
            <div class="col-sm-8">
            	<input id="proposer" name="proposer" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">项目id：</label>
            <div class="col-sm-8">
            	<input id="projectId" name="projectId" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">项目名称：</label>
            <div class="col-sm-8">
            	<input id="projectName" name="projectName" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">收款人（开票方）：</label>
            <div class="col-sm-8">
            	<input id="payee" name="payee" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">收票方：</label>
            <div class="col-sm-8">
            	<input id="drawee" name="drawee" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">金额：</label>
            <div class="col-sm-8">
            	<input id="money" name="money" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">收票截止日期：</label>
            <div class="col-sm-8">
            	<input id="billExpirationDate" name="billExpirationDate" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">备注：</label>
            <div class="col-sm-8">
            	<input id="remark" name="remark" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">关联付款单id：</label>
            <div class="col-sm-8">
            	<input id="paymentId" name="paymentId" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">关联付款单明细id：</label>
            <div class="col-sm-8">
            	<input id="paymentDetailId" name="paymentDetailId" class="form-control" type="text">
            </div>
        </div>
    </div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "oa/oaPaymentOweBill"
		$("#form-oaPaymentOweBill-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-oaPaymentOweBill-add').serialize());
	        }
	    }
	</script>
</body>
</html>
