<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改会议申请')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-oaMeeting-edit" th:object="${oaMeeting}">
                        <input id="id" name="id" th:field="*{id}" type="hidden">
                        <table class="table table-bordered table-condensed">
                            <caption class="text-center">
                                <h2>会议申请</h2>
                            </caption>
                            <tbody>
                            <th colspan="4">
                                表单信息
                            </th>
                            <tr>
                                <td class="active">申请人</td>
                                <td>
                                    <input class="form-control" type="text" th:value="*{userName}" readonly>
                                </td>
                                <td class="active">申请公司</td>
                                <td>
                                    <input type="hidden" name="applyCompanyId" id="companyId"
                                           th:value="*{applyCompanyId}"/>
                                    <input type="text" id="companyName" name="applyCompanyName" class="form-control"
                                           onclick="selectDeptTree('companyId','companyName','0')"
                                           th:value="*{applyCompanyName}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">申请部门</td>
                                <td>
                                    <input type="hidden" name="applyDeptId" id="treeId" th:value="*{applyDeptId}"/>
                                    <input type="text" id="treeName" name="applyDeptName" class="form-control"
                                           onclick="selectDeptTree('treeId','treeName','1')"
                                           th:value="*{applyDeptName}"/>
                                </td>
                                <td class="active">会议开始时间</td>
                                <td>
                                    <div class="input-group data">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="meetTimeStart" name="meetTimeStart " class="form-control time-input"
                                               type="text"
                                               th:value="${#dates.format(oaMeeting.meetTimeStart, 'yyyy-MM-dd HH:mm:ss')}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">会议结束时间</td>
                                <td>
                                    <div class="input-group data">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="meetTimeEnd" name="meetTimeEnd" class="form-control time-input"
                                               type="text"
                                               th:value="${#dates.format(oaMeeting.meetTimeEnd, 'yyyy-MM-dd HH:mm:ss')}">
                                    </div>
                                </td>
                                <td class="active">会议地点</td>
                                <td>
                                    <select name="meetArea" class="form-control" th:field="*{meetArea}"
                                            th:with="type=${@dict.getType('oa_meeting_site')}">
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">使用设备</td>
                                <td>
                                    <select name="useMachine" id="useMachine"
                                            class="form-control noselect2 selectpicker"
                                            data-none-selected-text="请选择开发语言" multiple
                                            th:with="type=${@dict.getType('oa_meeting_machine')}">
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                                <td class="active">抄送人</td>
                                <td>
                                    <input id="copyPerson" name="copyPerson" th:field="*{copyPerson}"
                                           class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">备注</td>
                                <td>
                                    <input id="remark" name="remark" th:field="*{remark}" class="form-control"
                                           type="text">
                                </td>
                                <td class="active">申请日期</td>
                                <td>
                                    <input id="applyTime" name="applyTime" class="form-control" type="text" readonly
                                           th:value="${#dates.format(oaMeeting.applyTime, 'yyyy-MM-dd HH:mm:ss')}">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">会议原因或内容</td>
                                <td colspan="3">
										<textarea id="reason" name="reason" class="form-control" th:field="*{reason}">
										</textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">参会人员：</label>
                                <div class="col-sm-10">
                                    <div class="btn-group-sm" id="toolbar" role="group">
                                        <a class="btn btn-success" onclick="selectTrainUser()"
                                           th:if="${oaMeeting.status=='3'}"> <i class="fa fa-plus"></i>
                                            添加
                                        </a>
                                    </div>
                                    <div class="col-sm-12 select-table table-striped">
                                        <table id="bootstrap-table-person" data-mobile-responsive="true"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10">
                            <br>
                            <button type="button" class="btn btn-sm btn-info"
                                    onclick="saveDraft()" th:if="${oaMeeting.status=='99'}">
                                <i class="fa fa-check"></i>保存草稿
                            </button>
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="submitHandlerDraft()" th:if="${oaMeeting.status=='99'}">
                                <i class="fa fa-check"></i>提交
                            </button>
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="submitHandler()" th:if="${oaMeeting.status=='3'}">
                                <i class="fa fa-check"></i>提交
                            </button>
                            <button type="button" class="btn btn-sm btn-info"
                                    th:if="${oaMeeting.status!='2'&&oaMeeting.status!='16'&&oaMeeting.status!='99'}"
                                    onclick="urge()">
                                <i class="fa fa-check"></i>催办
                            </button>
                            <button type="button" class="btn btn-sm btn-success" th:if="${oaMeeting.status!='99'}"
                                    th:onclick="selectUser('','','0',[[${oaMeeting.id}]],'oa/oaMeeting/copy')">
                                抄送
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关 闭
                            </button>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-bordered " id="approveInfoId"
                               data-mobile-responsive="true"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-select-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: lastNode"/>
<script th:inline="javascript">
    var prefix = ctx + "oa/oaMeeting";
    var lastNodeId = [[${oaMeeting.id}]];
    var actDefineId = [[${oaMeeting.actDefineId}]];
    var lastStatus = [[${oaMeeting.status}]];
    //设备赋值
    var machine = [[${oaMeeting.useMachine}]]
    var machineArr = machine.split(',');
    $('#useMachine').selectpicker('val', machineArr);
    //流程
    var data = {};
    data.procInstId = [[${oaMeeting.procInstId}]];
    data.id = [[${oaMeeting.id}]];
    selectActProcessList(data, "approveInfoId");

    function submitHandler() {
        var data = {};
        if ($.validate.form()) {
            data.oaMeeting = $('#form-oaMeeting-edit').serializeObject()
            data.oaMeeting.useMachine = data.oaMeeting.useMachine.join(',');
            data.personList = $("#bootstrap-table-person").bootstrapTable('getData')
            $.operate.saveJsonTab(prefix + "/modifyOaMeeting", data);
        }
    }

    //提交草稿
    function submitHandlerDraft() {
        var data = {};
        if ($.validate.form()) {
            data.oaMeeting = $('#form-oaMeeting-edit').serializeObject()
            data.oaMeeting.useMachine = data.oaMeeting.useMachine.join(',');
            data.personList = $("#bootstrap-table-person").bootstrapTable('getData')
            $.operate.saveJsonTab(prefix + "/submitDraft", data);
        }
    }

    //保存草稿
    function saveDraft() {
        var data = {};
        data.oaMeeting = $('#form-oaMeeting-edit').serializeObject()
        data.oaMeeting.useMachine = data.oaMeeting.useMachine.join(',');
        data.personList = $("#bootstrap-table-person").bootstrapTable('getData')
        $.operate.saveJsonTab(prefix + "/saveDraft", data);
    }

    /* 多选用户 */
    function selectTrainUser() {
        var options = {
            title: '选择用户',
            width: "1200",
            url: ctx + "oa/oaApplyTemplate/selectUser",
            callBack: doSubmitTrainUser
        };
        $.modal.openOptions(options);
    }

    function doSubmitTrainUser(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandlerMore1();
        var data = result;
        for (var i = 0; i < data.length; i++) {
            insertRow(data[i], 'bootstrap-table-person')
        }

    }

    /*新增行*/
    var idxId = 1;

    function insertRow(data, tableId) {
        var randomId = 100 + ~~(Math.random() * 100);
        var table_row = '';
        table_row = data
        table_row[0] = false;
        table_row.userPosition = '职位'
        var countDate = $("#" + tableId).bootstrapTable('getData');
        if (isHas(countDate, data.userId) == false) {
            $("#" + tableId).bootstrapTable('insertRow', {
                index: 0, // 你想插入到哪，0表示第一行
                row: table_row
            })
        }

    }

    //判断是否已经添加
    function isHas(data, id) {
        var isTF = false;
        for (var i = 0; i < data.length; i++) {
            if (data[i].userId == id) {
                isTF = true;
            }
        }
        return isTF;
    }

    /* 删除指定表格行 */
    function removeRow(tableId, rowId) {
        $("#" + tableId).bootstrapTable('removeByUniqueId', rowId)

    }

    //编辑字段
    function onEditableSave(field, row, oldValue, $el) {
        alert("字段名：" + field + "，当前值：" + row[field] + "，旧值：" + oldValue);
    }

    //学员表
    $(function () {
        var options = {
            id: "bootstrap-table-person",
            modalName: "参会人员",
            url: ctx + "oa/oaMeetingPerson/list",
            uniqueId: 'userId',
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            showPageGo: false,
            pagination: false,
            modalName: "学院培训",
            queryParams: {'meetingId': [[${oaMeeting.id}]]},
            showExport: false,
            onEditableSave: onEditableSave,
            toolbar: "toolbar",
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'userName',
                    title: '学员姓名',
                    sortable: true
                },
                {
                    field: 'userId',
                    title: '学员Id',
                    sortable: true
                },
                {
                    field: 'userPosition',
                    title: '职位',
                    sortable: true,
                    editable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if ([[${oaMeeting.status}]] == '3') {
                            actions.push('<a class="btn btn-danger btn-xs" onclick="removeRow(\'bootstrap-table-person\',\''
                                + row.userId + '\')">删除</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>
