<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('新增样品保留记录')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-bridgeSampleStorage-add">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span
						style="color: red;">*</span>选择样品：</label>
					<div class="col-sm-8">
						<input id="sampleId" name="sampleId" type="hidden"> <input
							id="sampleName" name="sampleName" class="form-control required"
							type="text" onclick="selectSample('sampleId','sampleName')"
							aria-required="true">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">留样原因：</label>
					<div class="col-sm-8">
						<input id="saveReason" name="saveReason" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">留样数量：</label>
					<div class="col-sm-8">
						<input id="saveNumber" name="saveNumber" class="form-control"
							type="number" min="0">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">单位：</label>
					<div class="col-sm-8">
						<input id="unit" name="unit" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">保留起始日期：</label>
					<div class="col-sm-8">
						<div class="input-group data">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input id="saveStartDate" name="saveStartDate"
								class="form-control time-input-data" type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">保留结束日期：</label>
					<div class="col-sm-8">
						<div class="input-group data">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input id="saveEndDate" name="saveEndDate"
								class="form-control time-input-data" type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">过期处理方式：</label>
					<div class="col-sm-8">
						<input id="handleWay" name="handleWay" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">责任人：</label>
					<div class="col-sm-8">
						<input id="responsePersonId" name="responsePersonId" type="hidden">
						<input id="responsePersonName" class="form-control" type="text"
							onclick="selectUserById('responsePersonId','responsePersonName')">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">备注：</label>
					<div class="col-sm-8">
						<input id="remark" name="remark" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6 hide">
				<div class="form-group">
					<label class="col-sm-4 control-label">创建者：</label>
					<div class="col-sm-8">
						<input id="createBy" name="createBy" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6 hide">
				<div class="form-group">
					<label class="col-sm-4 control-label">创建时间：</label>
					<div class="col-sm-8">
						<input id="createTime" name="createTime" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6 hide">
				<div class="form-group">
					<label class="col-sm-4 control-label">更新者：</label>
					<div class="col-sm-8">
						<input id="updateBy" name="updateBy" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6 hide">
				<div class="form-group">
					<label class="col-sm-4 control-label">更新时间：</label>
					<div class="col-sm-8">
						<input id="updateTime" name="updateTime" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-5 col-sm-10">
					<button type="button" class="btn btn-sm btn-primary"
						onclick="submitHandler()">
						<i class="fa fa-check"></i>保 存
					</button>
					&nbsp;
					<button type="button" class="btn btn-sm btn-danger"
						onclick="closeItem()">
						<i class="fa fa-reply-all"></i>关 闭
					</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "bridge/bridgeSampleStorage"
		/* $("#form-bridgeSampleStorage-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		}); */
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.saveTab(prefix + "/add", $('#form-bridgeSampleStorage-add').serialize());
	        }
	    }
		/*选择样品*/
		var oid = '';
		var oname = '';
		function selectSample(id, name) {
			oid = id;
			oname = name;
			var options = {
				title : '选择检测项目',
				width : "1200",
				url : ctx + "bridge/bridgeSample",
				callBack : doSubmit
			};
			$.modal.openOptions(options);
		}
		function doSubmit(index, layero) {
			var iframeWin = layero.find('iframe')[0];
			var result = iframeWin.contentWindow.submitHandlerSelect();
			var data = result;
			if (data) {
				$('#' + oid).val(data.id);
				$('#' + oname).val(data.name);
			} else {
				return;
			}
		}
		/*用户列表*/
		var mid = '';
		var mname = ''
		function selectUserById(id, name) {
			mid = id;
			mname = name;
			var options = {
				title : '选择用户',
				width : "1200",
				url : ctx + "oa/oaApplyTemplate/selectUser",
				callBack : doSubmit1
			};
			$.modal.openOptions(options);
		}
		function doSubmit1(index, layero) {
			var iframeWin = layero.find('iframe')[0];
			var result = iframeWin.contentWindow.submitHandler();
			var data = result.data;
			if (data) {
			$('#' + mname).val(data.userName);
			$('#' + mid).val(data.userId);
			}else{
				return
			}

		}
	</script>
</body>
</html>
