<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('任务确认列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<input type="text" name="principalName" placeholder="主检人"/>
							</li>
							<li>
								<input type="text" name="principalName" placeholder="确认人"/>
							</li>
							<li>
								<select id="status" class="selectpicker" name="status" th:with="type=${@dict.getType('bridge_task_status')}">
							         <option value=""> 状态 </option>
							         <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					            </select>
							</li>
							<li>
								<input type="text" name="bookName" placeholder="委托书名称"/>
							</li>
							<li class="select-time">
								<label>确认时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "bridge/bridgeTask";
        
        var taskStatus = [[${@dict.getType('bridge_task_status')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "任务分配",
		        showExport: true,
		        sortName : "code",
                sortOrder : "desc",
		        queryParams : queryParams,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'orderId', 
					title : '委托单id',
					sortable: true,
					visible: false
				},
				{
					field : 'deptId', 
					title : '部门id',
					sortable: true,
					visible: false
				},
				{
					field : 'userId', 
					title : '分配人id',
					sortable: true,
					visible: false
				},
				{
					field : 'code', 
					title : '任务编号',
					sortable: true
				},
				{
					field : 'orderCode', 
					title : '委托单编号',
					sortable: true
				},
				{
					field : 'bookName', 
					title : '委托书名称',
					sortable: true
				},
				{
					field : 'principalName', 
					title : '主检人',
					sortable: true
				},
				{
					field : 'deputyName', 
					title : '副检人',
					sortable: true
				},
				{
					field : 'distributionName', 
					title : '分配人',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '分配时间',
					sortable: true
				},
				{
					field : 'principalName', 
					title : '确认人',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '确认时间',
					sortable: true
				},
				{
					field : 'finishedTime', 
					title : '完成时间',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					sortable: true,
					formatter: function (value, row, index) {
		        		return $.table.selectDictLabel(taskStatus, value);
		        	}
				},
				{
					field : 'bookId', 
					title : '委托书id',
					sortable: true,
					visible: false
				},
				{
					field : 'principalUserId', 
					title : '主检人id',
					sortable: true,
					visible: false
				},
				{
					field : 'deputyUserId', 
					title : '副检人id',
					sortable: true,
					visible: false
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '创建者',
					sortable: true,
					visible: false
				},
				
				{
					field : 'updateBy', 
					title : '更新者',
					sortable: true,
					visible: false
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-success btn-xs href="#" onclick="updateTask(\''+row.id+"',2,'"+row.orderId+'\')"><i class="fa fa-edit"></i>确认任务</a>');
                        actions.push('<a class="btn btn-danger btn-xs href="#" onclick="updateTask(\''+row.id+"',4,'"+row.orderId+'\')"><i class="fa fa-remove"></i>取消任务</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        //只查询待分配的任务
        function queryParams(params){
        	var search = $.table.queryParams(params);
			search.status = "1";
			return search;
        }
        
        //设置任务状态
        function updateTask(id,status,orderId){
        	var content = "确认要取消这个任务吗?"
        	if(status==2){
        		content = "是否确认这个任务？";
        	}
        	$.modal.confirm(content, function() {
        		var config = {
            	        url: prefix + "/edit",
            	        type: "post",
            	        dataType: "json",
            	        data: {"id":id,"status":status,"orderId":orderId},
            	        beforeSend: function () {
            	        	$.modal.loading("正在处理中，请稍后...");
            	        	$.modal.disable();
            	        },
            	        success: function(result) {
            	        	$.modal.closeLoading();
            	        	$.table.refresh();
            	        }
            	    };
            	    $.ajax(config)
    		});
        }
    </script>
</body>
</html>