<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改检测类型和检测项目编码关系')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bridgeCodeTypeRel-edit" th:object="${bridgeCodeTypeRel}">
			<div class="form-group">	
				<label class="col-sm-3 control-label">检测大类代码：</label>
				<div class="col-sm-8">
					<input id="itemCode" name="itemCode" th:field="*{itemCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">委托书类型：</label>
				<div class="col-sm-8">
					<input id="orderType" name="orderType" th:field="*{orderType}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "bridge/bridgeCodeTypeRel";
		$("#form-bridgeCodeTypeRel-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-bridgeCodeTypeRel-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
