<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改项目付款')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sysProPayment-edit" th:object="${sysProPayment}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <input id="procInstId" name="procInstId" th:field="*{procInstId}" type="hidden">
            <h4 class="form-header h4">表单信息</h4>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>申请类型：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="sysPayType"
                                th:with="type=${@dict.getType('sys_pro_pay_type')}"
                                th:field="*{sysPayType}" disabled="disabled">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">项目：</label>
            <div class="col-sm-8">
            	<input id="projectId" name="projectId" th:field="*{projectId}" class="form-control" type="hidden">
            	<input th:field="*{proName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">编号：</label>
            <div class="col-sm-8">
            	<input id="code" name="code" th:field="*{code}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">申请人：</label>
            <div class="col-sm-8">
            	<input id="proposer" name="proposer" th:field="*{proposer}" class="form-control" type="hidden">
            	<input th:field="*{userName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">公司名称：</label>
            <div class="col-sm-8">
            	<input id="companyId" name="companyId" th:field="*{companyId}" class="form-control" type="hidden">
            	<input th:field="*{companyName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">申请部门：</label>
            <div class="col-sm-8">
            	<input id="deptId" name="deptId" th:field="*{deptId}" class="form-control" type="hidden">
            	<input th:field="*{deptName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">审批状态：</label>
            <div class="col-sm-8">
            	<select class="form-control" name="status"
					th:with="type=${@dict.getType('oa_leave_status')}"
					th:field="*{status}" disabled="disabled">
					<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				</select>
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">申请日期：</label>
            <div class="col-sm-8">
            	<input id="applyTime" name="applyTime" th:value="${#dates.format(sysProPayment.applyTime, 'yyyy-MM-dd')}" class="form-control time-input-data" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">支付日期：</label>
            <div class="col-sm-8">
            	<input id="paymentDate" name="paymentDate" th:value="${#dates.format(sysProPayment.paymentDate, 'yyyy-MM-dd')}" class="form-control time-input-data" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">支出总金额：</label>
            <div class="col-sm-8">
            	<input id="amount" name="amount" th:field="*{amount}" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">金额大写：</label>
            <div class="col-sm-8">
            	<input id="moneyUpper" name="moneyUpper" th:field="*{moneyUpper}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">付款事由：</label>
            <div class="col-sm-8">
            	<input id="reason" name="reason" th:field="*{reason}" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">备注：</label>
            <div class="col-sm-8">
            	<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
            </div>
        </div>
    </div>
		</form>
		 <h4 class="form-header h4">付款明细</h4>
		<div class="col-sm-12 select-table table-striped">
			<div class="btn-group-sm" id="toolbar1" role="group">
				<a class="btn btn-warning" data-toggle="modal" onclick="addDetail()"> <i class="fa fa-plus"></i> 添加明细记录 </a> 
				<a class="btn btn-danger" onclick="removeRowAll('detailTable')"><i class="fa fa-remove"></i> 删除所有行</a>
			</div>
			<div class="fixed-table-container">
				<table id="detailTable" data-mobile-responsive="true"></table>
			</div>
		</div>
		<!-- 审批流程记录 -->
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
		<div class="row">
				<div class="col-sm-offset-5 col-sm-10 add_btn_mt">
					<button type="button" class="btn btn-sm btn-primary"
						onclick="agree()">同意</button>
					<button type="button" class="btn btn-sm btn-danger"
						onclick="disagree()">不同意</button>
					<button type="button" class="btn btn-sm btn-success"
						th:onclick="selectUser('','','0',[[${sysProPayment.id}]],'oa/oaCertificatesLogout/copy','flag')">
						抄送</button>
					<button type="button" class="btn btn-sm btn-danger"
						onclick="backAway()">
						<i class="fa fa-reply-all"></i>关闭
					</button>
				</div>
			</div>
    </div>
	
    <div th:include="include::footer"></div>
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
		var prefix = ctx + "oa/sysProPayment";
		//流程
		var data = {};
    	data.procInstId= [[${sysProPayment.procInstId}]];
    	data.id = [[${sysProPayment.id}]];
		selectActProcessList(data);
		
		//同意
    	function agree(){
    		$.modal.open("同意备注", ctx+"oa/proTask/agree/"+[[${taskId}]]+"/GC-1");
    	}
		//不同意
	    function disagree(){
	    	$.modal.open("不同意原因", ctx+"oa/proTask/disagree/"+[[${taskId}]]+"/GC-1");
	    }
	    //返回
		function backAway(){
			$.modal.close();
			var parent = window.parent;
			parent.$.table.refresh();
		}
		
		
		//上传附件
		var attachmentList = new Array();
		var option = {
			id : 'uploadFileId',
			uploadUrl : null,
			deleteUrl : null,
			deleteExtraData : null,
			imgsUrl : new Array(),
			initialPreviewConfig : null,
			showPreview : false
		}
		$.common.uploadFile(option);
		downFile();
		
		
		var options = {
				id : 'detailTable',
				url : ctx+'oa/sysProPaymentDetail/list',
				showSearch : false,
				showRefresh : false,
				showToggle : false,
				showColumns : false,
				showPageGo : false,
				pagination : false,
				uniqueId : 'id',
				modalName : "明细记录",
				showExport : false,
				clickToSelect : true,
				queryParams : {'parentId' : [[${sysProPayment.id}]]},
				columns : [
						{
							radio : true
						},
						{
							field : 'id',
							title : 'id',
							visible : false
						},
						{
							field : 'contractId',
							title : '合同id',
							visible : false
						},
						{
							field : 'billId',
							title : '发票id',
							visible : false
						},
						{
							field : 'contractType',
							title : '合同类型'
						},
						{
							field : 'billType',
							title : '发票类型'
						},
						{
							field : 'amount',
							title : '付款金额'
						},
						{
							field : 'receivePerson',
							title : '收款人'
						},
						{
							field : 'receivePersonAccount',
							title : '收款人账号'
						},
						{
							field : 'receivePersonOpenBank',
							title : '收款人开户行'
						},
						{
							field : 'proCategory',
							title : '工程大类'
						},
						{
							field : 'detailCategory',
							title : '工程小类'
						},
						{
							field : 'reason',
							title : '付款事由'
						},
						{
							field : 'remark',
							title : '备注'
						},
						{
							title : '操作',
							formatter : function(value, row, index) {
								return	'<a class="btn btn-danger" onclick="removeRow(\'detailTable\',\'' + row.id + '\')">删除</a> '
							}
						} ]
			};
		$.table.init(options);
		
	</script>
</body>
</html>
