<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改项目扣款')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sysProDebit-edit" th:object="${sysProDebit}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <input id="procInstId" name="procInstId" th:field="*{procInstId}" class="form-control" type="hidden">
            <h4 class="form-header h4">表单信息</h4>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">项目：</label>
            <div class="col-sm-8">
            	<input id="projectId" name="projectId" th:field="*{projectId}" class="form-control" type="hidden">
            	<input th:field="*{proName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">编号：</label>
            <div class="col-sm-8">
            	<input id="code" name="code" th:field="*{code}" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">申请人：</label>
            <div class="col-sm-8">
            	<input id="proposer" name="proposer" th:field="*{proposer}" class="form-control" type="hidden">
            	<input th:field="*{userName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">公司：</label>
            <div class="col-sm-8">
            	<input id="companyId" name="companyId" th:field="*{companyId}" class="form-control" type="hidden">
            	<input th:field="*{companyName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">申请部门：</label>
            <div class="col-sm-8">
            	<input id="deptId" name="deptId" th:field="*{deptId}" class="form-control" type="hidden">
            	<input th:field="*{deptName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">审批状态：</label>
            <div class="col-sm-8">
            	<select class="form-control" name="status"
					th:with="type=${@dict.getType('oa_leave_status')}"
					th:field="*{status}" disabled="disabled">
					<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				</select>
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">申请日期：</label>
            <div class="col-sm-8">
            	<input id="applyTime" name="applyTime" th:value="${#dates.format(sysProDebit.applyTime, 'yyyy-MM-dd')}" class="form-control time-input-data" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">扣款总金额：</label>
            <div class="col-sm-8">
            	<input id="amount" name="amount" th:field="*{amount}" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">金额大写：</label>
            <div class="col-sm-8">
            	<input id="moneyUpper" name="moneyUpper" th:field="*{moneyUpper}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">扣款类型：</label>
            <div class="col-sm-8">
            	<select name="type" class="form-control"
								th:with="type=${@dict.getType('sys_debit_type')}"
								th:field="*{type}" disabled="disabled">
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" 
								th:value="${dict.dictValue}">
								</option>
				</select>
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">备注：</label>
            <div class="col-sm-8">
            	<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
            </div>
        </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
	        <div class="form-group">
	            <label class="col-sm-4 control-label">附件：</label>
	            <div class="col-sm-8">
	            	<div class="file-loading">
						<input id="uploadFileId" type="file" multiple>
					</div>
	            </div>
	        </div>
	    </div>
    </div>
		</form>
		<h4 class="form-header h4">扣款明细</h4>
		<div class="col-sm-12 select-table table-striped">
			<div class="fixed-table-container">
				<table id="detailTable" data-mobile-responsive="true"></table>
			</div>
		</div>
		<!-- 审批流程记录 -->
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
		<div class="row">
				<div class="col-sm-offset-5 col-sm-10 add_btn_mt">
					<button type="button" class="btn btn-sm btn-primary"
						onclick="agree()">同意</button>
					<button type="button" class="btn btn-sm btn-danger"
						onclick="disagree()">不同意</button>
					<button type="button" class="btn btn-sm btn-success"
						th:onclick="selectUser('','','0',[[${sysProDebit.id}]],'oa/oaCertificatesLogout/copy','flag')">
						抄送</button>
					<button type="button" class="btn btn-sm btn-danger"
						onclick="backAway()">
						<i class="fa fa-reply-all"></i>关闭
					</button>
				</div>
			</div>
    </div>
    
    <div th:include="include::footer"></div>
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
		var prefix = ctx + "oa/sysProDebit";
		var debitType=[[${@dict.getType('sys_debit_bill_type')}]];
		//流程
		var data = {};
    	data.procInstId= [[${sysProDebit.procInstId}]];
    	data.id = [[${sysProDebit.id}]];
		selectActProcessList(data);
		
		//同意
    	function agree(){
    		$.modal.open("同意备注", ctx+"oa/proTask/agree/"+[[${taskId}]]+"/GC-3");
    	}
		//不同意
	    function disagree(){
	    	$.modal.open("不同意原因", ctx+"oa/proTask/disagree/"+[[${taskId}]]+"/GC-3");
	    }
	    //返回
		function backAway(){
			$.modal.close();
			var parent = window.parent;
			parent.$.table.refresh();
		}
		
		
		//上传附件
		var attachmentList = new Array();
		var option = {
			id : 'uploadFileId',
			uploadUrl : null,
			deleteUrl : null,
			deleteExtraData : null,
			imgsUrl : new Array(),
			initialPreviewConfig : null,
			showPreview : false
		}
		$.common.uploadFile(option);
		downFile();
		
		var options1 = {
				id : 'detailTable',
				url : ctx+'oa/sysProDebitDetail/list',
				showSearch : false,
				showRefresh : false,
				showToggle : false,
				showColumns : false,
				showPageGo : false,
				pagination : false,
				uniqueId : 'id',
				modalName : "明细",
				showExport : false,
				clickToSelect : true,
				queryParams : {"parentId" : [[${sysProDebit.id}]]},
				columns : [
						{
							radio : true
						},
						{
							field : 'id',
							title : 'id',
							visible : false
						},
						{
							field : 'billType',
							title : '款项类别',
							formatter: function (value, row, index) {
				        		return $.table.selectDictLabel(debitType, value);
				        	}
						},
						{
							field : 'detailType',
							title : '款项小类'
						},
						{
							field : 'amount',
							title : '扣款金额'
						},
						{
							field : 'reason',
							title : '扣款事由'
						},
						{
							field : 'file',
							title : '附件'
						},
						{
							title : '操作',
							formatter : function(value, row, index) {
								return	'<a class="btn btn-danger" onclick="removeRow(\'detailTable\',\'' + row.id + '\')">删除</a> '
							}
						} ]

			};
		$.table.init(options1);
		
		
	</script>
</body>
</html>
