<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增进项发票')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sysProIncomeBill-add">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="col-sm-3 control-label"> <span style="color: red; ">*</span>项目：</label>
			<div class="col-sm-8">
				<input id="projectId" name="projectId" type="hidden" />
				<input id="proName" name="proName" class="form-control" type="text"
							onclick="selectPro('projectId','proName')" required="required">
			</div>
		</div>
	</div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">编号：</label>
            <div class="col-sm-8">
            	<input  name="code" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">合同：</label>
            <div class="col-sm-8">
            	<input id="contractId" name="contractId" class="form-control" type="hidden">
            	<input id="contractName" name="contractName" class="form-control" type="text" onclick="selectContract()">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">合同类型：</label>
            <div class="col-sm-8">
            	<input id="contractType" name="contractType" class="form-control" type="hidden">
				<div class="form-control contractType"></div>
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">申请人：</label>
            <div class="col-sm-8">
            	<input id="proposer" name="proposer" th:value="${user.userId}" class="form-control" type="hidden">
            	<input th:value="${user.userName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">申请日期：</label>
            <div class="col-sm-8">
            	<div class="input-group data">
	            	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				    <input id="applyTime" name="applyTime" class="form-control time-input-data currentDate" type="text" >
			    </div>
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">公司：</label>
            <div class="col-sm-8">
            	<input id="companyId" name="companyId" th:value="${company.deptId}" class="form-control" type="hidden">
            	<input id="companyName" name="companyName" th:value="${company.deptName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">部门：</label>
            <div class="col-sm-8">
            	<input id="deptId" name="deptId" class="form-control" th:value="${user.deptId}" type="hidden">
            	<input id="deptName" name="deptName" th:value="${user.dept.deptName}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>开票单位：</label>
            <div class="col-sm-8">
            	<input id="issuingOffice" name="issuingOffice" class="form-control" type="text" required="required">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>发票类型：</label>
            <div class="col-sm-8">
            	<select id="invoiceType"  name="invoiceType" class="form-control" th:with="type=${@dict.getType('sys_pro_invoice_type')}" required="required">
					<option value="">--请选择--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </div>
	<div class="col-sm-6 hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">发票税率：</label>
            <div class="col-sm-8">
            	<select id="invoiceRate"  name="invoiceRate" class="form-control" th:with="type=${@dict.getType('sys_pro_invoice_rate')}" required="required">
					<option value="">--请选择--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </div>
	<div class="col-sm-6 totalTax">
        <div class="form-group">
            <label class="col-sm-3 control-label">税额总计：</label>
            <div class="col-sm-8">
            	<input id="totalTax" name="totalTax" class="form-control" type="number" >
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label">价税总计：</label>
            <div class="col-sm-8">
            	<input id="totalMoney" name="totalMoney" class="form-control" type="number">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
		<div class="form-group">
			<label class="col-sm-3 control-label">不含税金额总计：</label>
			<div class="col-sm-8">
				<input id="notTotalMoney" name="" class="form-control" type="number" readonly>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>结算类型：</label>
            <div class="col-sm-8">
            	<select id="settlementType"  name="settlementType" class="form-control" th:with="type=${@dict.getType('sys_pro_settlement_type')}" required="required" >
					<option value="">--请选择--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </div>
	<div class="col-sm-8">
        <div class="form-group">
            <label class="col-sm-2 control-label">备注：</label>
            <div class="col-sm-10">
            	<input id="remark" name="remark" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-8">
        <div class="form-group">
            <label class="col-sm-2 control-label">附件：</label>
            <div class="col-sm-10">
            	<div class="file-loading">
					<input id="uploadFileId" type="file" multiple>
				</div>
            </div>
        </div>
    </div>
</form>
		<!-- 付款记录 -->
		<div class="col-sm-12 select-table table-striped">
			<div class="btn-group-sm" id="toolbar1" role="group">
				<a class="btn btn-warning" data-toggle="modal" onclick="addPayRecord()"> <i class="fa fa-plus"></i> 添加需关联当前发票的付款记录 </a>
				<a class="btn btn-danger" onclick="removeRowAll('payTable')"><i class="fa fa-remove"></i> 删除所有行</a>
			</div>
			<div class="fixed-table-container">
				<table id="payTable" data-mobile-responsive="true"></table>
			</div>
		</div>
		<!-- 发票明细 -->
		<div class="col-sm-12 select-table table-striped">
			<div class="btn-group-sm" id="toolbar2" role="group">
				<a class="btn btn-warning" data-toggle="modal" onclick="addDetail()"> <i class="fa fa-plus"></i> 添加发票明细 </a>
				<a class="btn btn-danger" onclick="removeRowAll('detailTable')"><i class="fa fa-remove"></i> 删除所有行</a>
			</div>
			<div class="fixed-table-container">
				<table id="detailTable" data-mobile-responsive="true"></table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-5 col-sm-10">
				<br>
				<button type="button" class="btn btn-sm btn-info" onclick="saveDraft()">
					<i class="fa fa-check"></i>保存草稿
				</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">
					<i class="fa fa-check"></i>提交
				</button>
				<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()">
					<i class="fa fa-reply-all"></i>关 闭
				</button>
			</div>
		</div>
	</div>


	<!-- 付款记录弹出框 -->
	<div class="modal inmodal fade" id="payModel" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body ">
					<form class="form-horizontal m" id="form-payModel-add">
						<div>
							<div class="form-group">
								<label class="col-sm-3 control-label">付款编号：</label>
								<div class="col-sm-8">
									<input type="text" class="form-control"  name="payCode" id="payCode">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">付款金额：</label>
								<div class="col-sm-8">
									<input id="payMoney" name="payMoney" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">收款人：</label>
								<div class="col-sm-8">
									<input id="payee" name="payee" class="form-control" type="text">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveToPayTable()">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 发票明细弹出框 -->
	<div class="modal inmodal fade" id="detailModel" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body ">
					<form class="form-horizontal m" id="form-detailModel-add">
						<div>
							<div class="form-group">
								<label class="col-sm-3 control-label">发票编号：</label>
								<div class="col-sm-8">
									<input type="text" class="form-control"  name="code" id="code">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">开票日期：</label>
								<div class="col-sm-8">
									<div class="input-group data">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					   					 <input id="billingDate" name="billingDate" class="form-control time-input-data currentDate" type="text" >
				   					 </div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">发票金额：</label>
								<div class="col-sm-8">
									<input id="invoiceAmount" name="invoiceAmount" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">发票税额：</label>
								<div class="col-sm-8">
									<input id="invoiceTax" name="invoiceTax" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">价税合计：</label>
								<div class="col-sm-8">
									<input name="totalMoney" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">货物或服务名：</label>
								<div class="col-sm-8">
									<input id="serviceName" name="serviceName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input  name="remark" class="form-control" type="text">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveToDetailTable()">保存</button>
				</div>
			</div>
		</div>
	</div>

    <div th:include="include::footer"></div>
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript" th:inline="javascript">
		var prefix = ctx + "oa/sysProIncomeBill"


        //选择合同
        function selectContract() {
            var options = {
                title: '选择合同',
                width: "1200",
                url: ctx + "oa/oaContract",
                callBack: doSubmitContract
            };
            $.modal.openOptions(options);
        }

        function doSubmitContract(index, layero) {
            var iframeWin = layero.find('iframe')[0];
            var result = iframeWin.contentWindow.submitHandler();
            var data = result;
            if(data){
                $('#contractId').val(data.id)
                $('#contractName').val(data.contractName)
				$('#contractType').val(data.type1)
				$.common.dictV({
					'className':'contractType',
					'dict':[[${@dict.getType('oa_contract_type1')}]],
					'value':data.type1
				})
            }

        }

        //不含税金额总计计算
		$("input[name='totalTax']").bind("input propertychange",
			function () {
				var num = $(this).val();
				if ($('#totalMoney').val()==''){
					$('#notTotalMoney').val(0);
				}else {
					$('#notTotalMoney').val(parseFloat($('#totalMoney').val())-num);
				}
		});
		$("input[name='totalMoney']").bind("input propertychange",
			function () {
			var num = parseFloat($(this).val());
			if ($('#totalTax').val()==''){
				$('#notTotalMoney').val(num);
			}else {
				$('#notTotalMoney').val(num-parseFloat($('#totalTax').val()));
			}

		});
		function submitHandler() {
	        if ($.validate.form()) {
		        var data = {};
	        	data.bill = $('#form-sysProIncomeBill-add').serializeObject();
	        	data.relList = $('#payTable').bootstrapTable('getData');
	        	data.detailList = $('#detailTable').bootstrapTable('getData');
				data.attachmentList = attachmentList;
	        	$.operate.saveJsonTab(prefix + "/add", data);
	        }
	    }
		//上传附件
		var attachmentList = new Array();
		var option = {
			id : 'uploadFileId',
			uploadUrl : null,
			deleteUrl : null,
			deleteExtraData : null,
			imgsUrl : new Array(),
			initialPreviewConfig : null,
			showPreview : true
		}
		$.common.uploadFile(option);
		downFile();

		//发票类型判断
		$('#invoiceType').change(function () {
			if($(this).val()==='2'){
				$('.totalTax').addClass('hidden');
				$('.totalTax ').children().find('input').val('');
			}else{
				$('.totalTax').removeClass('hidden')
			}
		});


		var options1 = {
				id : 'detailTable',
				showSearch : false,
				showRefresh : false,
				showToggle : false,
				showColumns : false,
				showPageGo : false,
				pagination : false,
				uniqueId : 'id',
				modalName : "明细",
				showExport : false,
				clickToSelect : true,
				columns : [
						{
							radio : true
						},
						{
							field : 'id',
							title : 'id',
							visible : false
						},
						{
							field : 'code',
							title : '发票编号'
						},
						{
							field : 'billingDate',
							title : '开票日期'
						},
						{
							field : 'invoiceAmount',
							title : '发票金额'
						},
						{
							field : 'invoiceTax',
							title : '发票税额'
						},
						{
							field : 'totalMoney',
							title : '价税合计'
						},
						{
							field : 'serviceName',
							title : '货物或服务名'
						},
						{
							field : 'file',
							title : '附件'
						},
						{
							title : '操作',
							formatter : function(value, row, index) {
								return	'<a class="btn btn-danger" onclick="removeRow(\'detailTable\',\'' + row.id + '\')">删除</a> '
							}
						} ]

			};

		var options2 = {
				id : 'payTable',
				showSearch : false,
				showRefresh : false,
				showToggle : false,
				showColumns : false,
				showPageGo : false,
				pagination : false,
				uniqueId : 'id',
				modalName : "付款记录",
				showExport : false,
				clickToSelect : true,
				columns : [
						{
							radio : true
						},
						{
							field : 'id',
							title : 'id',
							visible : false
						},
						{
							field : 'payCode',
							title : '付款编号'
						},
						{
							field : 'payMoney',
							title : '付款金额'
						},
						{
							field : 'payee',
							title : '收款人'
						},
						{
							title : '操作',
							formatter : function(value, row, index) {
								return	'<a class="btn btn-danger" onclick="removeRow(\'payTable\',\'' + row.id + '\')">删除</a> '
							}
						} ]

			};

		$(function() {
			$.table.init(options1);
			$.table.init(options2);
		});

		//将信息填入到付款记录明细中
		function saveToPayTable(){
			var formData = $('#form-payModel-add').serializeObject();
			var randomId = 100 + ~~(Math.random() * 100);
			formData.relId=randomId;
			$("#payTable").bootstrapTable('insertRow', {
				index : 0, // 你想插入到哪，0表示第一行
				row : formData
			})
		}

		//添加付款记录信息
		function addPayRecord(){
			$.form.reset('form-payModel-add');//清空原有数据
			$('#payModel').modal("show");
		}

		//将信息填入到发票明细中
		function saveToDetailTable(){
			var formData = $('#form-detailModel-add').serializeObject();
			var randomId = 100 + ~~(Math.random() * 100);
			formData.id=randomId;
			$("#detailTable").bootstrapTable('insertRow', {
				index : 0, // 你想插入到哪，0表示第一行
				row : formData
			})
		}

		//添加明细信息
		function addDetail(){
			$.form.reset('form-detailModel-add');//清空原有数据
			$('#detailModel').modal("show");
		}

		/* 删除指定表格行 */
		function removeRow(id, rowId) {
			$.modal.confirm("确定删除该行数据吗?", function() {
				$("#" + id).bootstrapTable('removeByUniqueId', rowId);
    		});
		}
		/* 删除所有表格行 */
		function removeRowAll(id) {
			$.modal.confirm("确定删除所有行吗?", function() {
				$("#" + id).bootstrapTable('removeAll');
    		});
		}

		//保存草稿
		function saveDraft(){
        	var data = {};
        	data.bill = $('#form-sysProIncomeBill-add').serializeObject();
        	data.relList = $('#payTable').bootstrapTable('getData');
        	data.detailList = $('#detailTable').bootstrapTable('getData');
			data.attachmentList = attachmentList;
        	$.operate.saveJsonTab(prefix + "/saveDraft", data);
		}

	</script>
</body>
</html>
