<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改样品与方法关系')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bridgeSampleMethod-edit" th:object="${bridgeSampleMethod}">
            <input id="sampleId" name="sampleId" th:field="*{sampleId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">标准id：</label>
				<div class="col-sm-8">
					<input id="methodId" name="methodId" th:field="*{methodId}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "bridge/bridgeSampleMethod";
		$("#form-bridgeSampleMethod-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-bridgeSampleMethod-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
