<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改印章')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<!--抬头  -->
		<div class="hr-line-dashed"></div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="panel panel-default">
					<div class="panel-body ">
						<form class="form-horizontal m" id="form-oaSeal-edit" th:object="${oaSeal}">
							<input id="id" name="id" th:field="*{id}"  type="hidden">
							<table class="table table-bordered table-condensed" >
								<caption class="text-center">
									<h2>修改印章</h2>
								</caption>
								<tbody>
								<th colspan="4">
									表单信息
								</th>
								<tr>
									<td class="active">印章名称</td>
									<td>
										<input id="sealName" name="sealName" th:field="*{sealName}" class="form-control" type="text">
									</td>
									<td class="active">印章类型</td>
									<td>
										<select required="required" name="type" class="form-control" th:with="type=${@dict.getType('oa_seal_type')}" th:field="*{type}">
											<option value="">--请选择--</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="active">归属公司</td>
									<td>
										<input type="hidden" name="companyId" id="companyId" th:value="*{companyId}"/>
										<input type="text" id="companyName" name="companyName" class="form-control"
											   onclick="selectDeptTree('companyId','companyName','0')"  th:value="*{companyName}"/>
									</td>
									<td class="active"><span style="color: red; ">*</span>申请部门：</td>
									<td>
										<input type="hidden" name="deptId" id="treeId" th:value="*{deptId}"/>
										<input type="text" id="treeName" name="deptName" class="form-control"
											   onclick="selectDeptTree('treeId','treeName','1')" th:value="*{appDept.deptName}"/>
									</td>
								</tr>
								<tr>
									<td class="active">备注</td>
									<td>
										<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
									</td>
									<td class="active">刻制人</td>
									<td>
										<input id="engravingByName" onclick="selectUserById('engravingBy','engravingByName')" name="engravingByName" th:field="*{engravingUserName}" class="form-control" type="text">
										<input name="engravingBy" id="engravingBy" type="hidden" />
									</td>
								</tr>
								<tr>
									<td class="active">刻制部门</td>
									<td>
										<input name="engravingDeptId" type="hidden" id="engravingDeptId"/>
										<input name="engravingDeptName" id="engravingDeptName" onclick="selectDeptTree('engravingDeptId','engravingDeptName','1')"
											   th:value="*{engravingDept?.deptName}" class="form-control" type="text">
									</td>
									<td class="active">保管部门</td>
									<td>
										<input name="safekeepingDeptId" type="hidden" id="safekeepingDeptId"/>
										<input id="safekeepingDeptName" onclick="selectDeptTree('safekeepingDeptId','safekeepingDeptName','1')"
											   name="safekeepingDeptName" th:value="*{safekeepingDept?.deptName}" class="form-control" type="text">
									</td>
								</tr>
								<tr>
									<td class="active">保管人</td>
									<td>
										<input id="safekeepingByName" onclick="selectUserById('safekeepingBy','safekeepingByName')" name="safekeepingByName" th:field="*{safekeepingUserName}" class="form-control" type="text">
										<input name="safekeepingBy" id="safekeepingBy" type="hidden" />
									</td>
									<td class="active">创建者</td>
									<td>
										<input id="createBy" readonly th:value="*{appUserName}" class="form-control" type="text">
									</td>
								</tr>
								<tr>
									<td class="active">创建日期</td>
									<td>
										<input id="createTime" readonly name="createTime" th:value="${#dates.format(oaSeal.createTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" type="text">
									</td>
									<td class="active">可预约</td>
									<td>
										<select name="canAppoint" class="form-control" th:with="type=${@dict.getType('sys_yes_no')}" th:field="*{canAppoint}" >
											<option value="">--请选择--</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="active">在公司</td>
									<td>
										<select name="inCompany" class="form-control" th:with="type=${@dict.getType('sys_yes_no')}" th:field="*{inCompany}" >
											<option value="">--请选择--</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
										</select>
									</td>
									<td class="active">公安备案时间</td>
									<td>
										<input id="filingTime" name="filingTime" th:value="${#dates.format(oaSeal.filingTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control time-input" type="text">
									</td>
								</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="col-sm-offset-5 col-sm-10">
									 <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
									 <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div th:include="include::footer"></div>
    <script th:inline="javascript">
		var prefix = ctx + "oa/oaSeal";
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.saveTab(prefix + "/edit", $('#form-oaSeal-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
