<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增模板抄送人')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-oaModelUser-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">审批模板id：</label>
				<div class="col-sm-8">
					<input id="modelId" name="modelId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">抄送用户id：</label>
				<div class="col-sm-8">
					<input id="toUserId" name="toUserId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">类型（0出差申请，1请假申请，2采购申请）：</label>
				<div class="col-sm-8">
					<input id="type" name="type" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "oa/oaModelUser"
		$("#form-oaModelUser-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-oaModelUser-add').serialize());
	        }
	    }
	</script>
</body>
</html>
