<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增证件申请明细')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-oaCertificatesDetail-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">主表id：</label>
				<div class="col-sm-8">
					<input id="mId" name="mId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">证件id：</label>
				<div class="col-sm-8">
					<input id="certificatesId" name="certificatesId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">类型(0借证，1还证，2证件调配)：</label>
				<div class="col-sm-8">
					<input id="type" name="type" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "oa/oaCertificatesDetail"
		$("#form-oaCertificatesDetail-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-oaCertificatesDetail-add').serialize());
	        }
	    }
	</script>
</body>
</html>
