<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('进项发票明细列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								主票据id：<input type="text" name="mainId"/>
							</li>

							<li>
								发票号码：<input type="text" name="billCode"/>
							</li>

							<li>
								开票日期：<input type="text" name="billDate"/>
							</li>

							<li>
								发票内容：<input type="text" name="billText"/>
							</li>

							<li>
								发票金额：<input type="text" name="billAmount"/>
							</li>

							<li>
								税额：<input type="text" name="tax"/>
							</li>

							<li>
								关联合同id：<input type="text" name="contractId"/>
							</li>

							<li>
								备注：<input type="text" name="remark"/>
							</li>

							<li>
								创建日期：<input type="text" name="createTime"/>
							</li>

							<li>
								创建者：<input type="text" name="createBy"/>
							</li>

							<li>
								修改时间：<input type="text" name="updateTime"/>
							</li>

							<li>
								修改者：<input type="text" name="updateBy"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="oa:sysProCostBillDetail:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="oa:sysProCostBillDetail:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="oa:sysProCostBillDetail:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="oa:sysProCostBillDetail:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('oa:sysProCostBillDetail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('oa:sysProCostBillDetail:remove')}]];
        var prefix = ctx + "oa/sysProCostBillDetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "进项发票明细",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'mainId', 
					title : '主票据id',
					sortable: true
				},
				{
					field : 'billCode', 
					title : '发票号码',
					sortable: true
				},
				{
					field : 'billDate', 
					title : '开票日期',
					sortable: true
				},
				{
					field : 'billText', 
					title : '发票内容',
					sortable: true
				},
				{
					field : 'billAmount', 
					title : '发票金额',
					sortable: true
				},
				{
					field : 'tax', 
					title : '税额',
					sortable: true
				},
				{
					field : 'contractId', 
					title : '关联合同id',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建日期',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '创建者',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '修改时间',
					sortable: true
				},
				{
					field : 'updateBy', 
					title : '修改者',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>