<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改欠合同记录')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-oaPaymentOweContract-edit"
                          th:object="${oaPaymentOweContract}">
                        <input id="id" name="id" th:field="*{id}" type="hidden">
                        <input id="code" name="code" th:field="*{code}" type="hidden">
                        <input id="userName" name="userName" th:field="*{userName}" type="hidden">
                        <input id="projectName" name="projectName" th:field="*{projectName}" type="hidden">
                        <input id="projectId" name="projectId" th:field="*{projectId}" type="hidden">
                        <input id="payee" name="payee" th:field="*{payee}" type="hidden">
                        <input id="drawee" name="drawee" th:field="*{drawee}" type="hidden">
                        <input id="money" name="money" th:field="*{money}" type="hidden">
                        <input id="contractExpirationDate" name="contractExpirationDate" th:value="${#dates.format(oaPaymentOweContract.contractExpirationDate, 'yyyy-MM-dd HH:mm:ss')}" type="hidden">
                        <input id="remark" name="remark" th:field="*{remark}" type="hidden">
                        <table class="table table-bordered table-condensed">
                            <caption class="text-center">
                                <h2>关联合同</h2>
                            </caption>
                            <tbody>
                            <th colspan="4">
                                表单信息
                            </th>
                            <tr>
                                <td class="active">支付单据编号</td>
                                <td>
                                    [[*{code}]]
                                </td>
                                <td class="active">申请人</td>
                                <td>
                                    [[*{userName}]]
                                </td>
                            </tr>
                            <tr>
                                <td class="active">项目名称</td>
                                <td>
                                    [[*{projectName}]]

                                </td>
                                <td class="active">对方公司（开票方）</td>
                                <td>
                                    [[*{payee}]]

                                </td>
                            </tr>
                            <tr>
                                <td class="active">我方公司（收票方）:</td>
                                <td>
                                    [[*{drawee}]]

                                </td>
                                <td class="active">金额:</td>
                                <td>
                                    [[*{money}]]
                                </td>
                            </tr>
                            <tr>
                                <td class="active">补合同截止日期:</td>
                                <td>
                                    [[${#dates.format(oaPaymentOweContract.contractExpirationDate, 'yyyy-MM-dd HH:mm:ss')}]]
                                </td>
                                <td class="active">备注:</td>
                                <td>
                                    [[*{remark}]]

                                </td>
                            </tr>
                            <tr>
                                <td>关联合同</td>
                                <td><input name="contractId" id="contractId" class="form-control "
                                           type="hidden" th:value="*{contractId}">
                                    <input name="contractName" id="contractName" class="form-control "
                                           type="text" th:value="*{contractName}" onclick="selectCon()"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="button" th:if="${oaPaymentOweContract.status !='2'&& oaPaymentOweContract.status !='3'}"
                                    class="btn btn-sm btn-primary" onclick="submitHandler()">
                                <i class="fa fa-check"></i>关联
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关 闭
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-bordered " id="approveInfoId"
                               data-mobile-responsive="true"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "oa/oaPaymentOweContract";
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.saveTab(prefix + "/relateContract", $('#form-oaPaymentOweContract-edit').serialize());
        }
    }
    //流程
    var data = {};
    data.procInstId = [[${oaPaymentOweContract.procInstId}]];
    data.id = [[${oaPaymentOweContract.id}]];
    selectActProcessList(data, "approveInfoId");


    //关联合同
    //关联 弹框
    function selectCon() {
        var options = {
            title: '合同',
            width: "1200",
            url: ctx + 'oa/oaContract',
            callBack: doSubmit5
        };
        $.modal.openOptions(options);
    }

    ////合同
    function doSubmit5(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        $('#contractId').val(data.id)
        $('#contractName').val(data.contractName)

    }
</script>
</body>
</html>
