<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增外出申请')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-oaOutgoing-add">
                        <table class="table table-bordered table-condensed">
                            <caption class="text-center">
                                <h2>外出申请</h2>
                            </caption>
                            <tbody>
                            <th colspan="4">
                                表单信息
                            </th>
                            <tr>
                                <td class="active">申请人</td>
                                <td>
                                    <input class="form-control" type="text" th:value="${user.userName}" readonly>
                                </td>
                                <td class="active">申请公司</td>
                                <td>
                                    <input type="hidden" name="applyCompanyId" id="companyId"
                                           th:value="${company.deptId}"/>
                                    <input type="text" id="companyName" name="applyCompanyName" class="form-control"
                                           onclick="selectDeptTree('companyId','companyName','0')"
                                           th:value="${company.deptName}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">申请部门</td>
                                <td>
                                    <input type="hidden" name="applyDeptId" id="treeId" th:value="${user.dept.deptId}"/>
                                    <input type="text" id="treeName" name="applyDeptName" class="form-control"
                                           onclick="selectDeptTree('treeId','treeName','1')"
                                           th:value="${user.dept.deptName}"/>
                                </td>
                                <td class="active"><span style="color: red;">*</span>外出起始日期</td>
                                <td>
                                    <div class="input-group data">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="goOutStart" name="goOutStart"
                                               class="form-control currentTime time-input"
                                               type="text" required="required" data-callback="limitTime" data-mark="2">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="active"><span style="color: red;">*</span>外出结束日期</td>
                                <td>
                                    <div class="input-group data">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="goOutEnd" name="goOutEnd" class="form-control time-input" type="text"
                                               required="required" data-callback="limitTime" data-mark="1">
                                    </div>
                                </td>
                                <td class="active"><span style="color: red;">*</span>外出时长</td>
                                <td>
                                    <input id="goOutHour" name="goOutHour" class="form-control" type="number"
                                           required="required" placeholder="小时">
                                </td>
                            </tr>
                            <tr>
                                <td class="active"><span style="color: red;">*</span>外出事由</td>
                                <td>
                                    <input id="reason" name="reason" class="form-control" type="text"
                                           required="required">
                                </td>
                                <td class="active">申请日期</td>
                                <td>
                                    <input id="applyTime" name="applyTime" class="form-control currentTime" type="text"
                                           readonly>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">备注</td>
                                <td colspan="3">
                                    <input id="remark" name="remark" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">附件</td>
                                <td colspan="3">
                                    <div class="file-loading">
                                        <input id="uploadFileId" type="file" multiple>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10">
                            <br>
                            <button type="button" class="btn btn-sm btn-info"
                                    onclick="saveDraft()">
                                <i class="fa fa-check"></i>保存草稿
                            </button>
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="submitHandler()">
                                <i class="fa fa-check"></i>提交
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关 闭
                            </button>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "oa/oaOutgoing"
    //上传附件
    var attachmentList = new Array();
    var option = {
        id: 'uploadFileId',
        uploadUrl: null,
        deleteUrl: null,
        deleteExtraData: null,
        imgsUrl: new Array(),
        initialPreviewConfig: null,
        showPreview: true
    }
    $.common.uploadFile(option);
    downFile();

    //提交
    function submitHandler() {
        var data = {};
        data.oaOutgoing = $('#form-oaOutgoing-add').serializeObject();
        data.attachmentList = attachmentList
        if ($.validate.form()) {
            $.operate.saveJsonTab(prefix + "/add", data);
        }
    }

    //时长计算
    var dataTime = {};

    function limitTime(value, dataT, mark) {
        dataTime.startTime = $('#goOutStart').val()
        if (mark == '2') {
            $('#goOutStart').val('')
            dataTime.startTime = value
        } else {
            dataTime.endTime = value
        }
        if (dataTime.startTime != '' && dataTime.endTime != ''
            && dataTime.startTime != undefined && dataTime.endTime != undefined) {
            var config = {
                contentType: "application/json;charset=UTF-8",
                url: ctx + "oa/oaOutgoing/calculateHours",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dataTime),
                success: function (result) {
                    if (result.retCode != '200') {
                        $("#goOutHour").val('');
                        $.modal.alertWarning(result.msg);
                    } else {
                        var hour = decimal(result.time, 1)
                        $("#goOutHour").val(hour);
                    }
                }
            };
            $.ajax(config)
        }
    }

    //保存草稿
    function saveDraft() {
        var data = {};
        data.oaOutgoing = $('#form-oaOutgoing-add').serializeObject();
        data.attachmentList = attachmentList
        $.operate.saveJsonTab(prefix + "/saveDraft", data);
    }
</script>
</body>
</html>
