<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('我发起的 ')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="config-form">
					<div class="select-list">
						<ul>
							<li>
								<select name="type" th:with="type=${@dict.getType('oa_examine_type')}">
									<option value="">类别</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li> <select name="status"
								th:with="type=${@dict.getType('oa_leave_status')}">
									<option value="">审批状态</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

    var prefix = ctx + "oa/MyApplied";
    var approveType = [[${@dict.getType('oa_examine_type')}]];
    var statusData = [[${@dict.getType('oa_leave_status')}]];

	$(function () {
		list();
		window.setInterval(
			function(){
				getCacheUpdateFlag(2);
			},30000
		);
	});

    function list() {
        var options = {
        	uniqueId: "id",
            url: prefix + "/list",
            createUrl: prefix + "/add",
            removeUrl: prefix + "/remove",
            updateUrl: prefix + "/approve/{id}",
            modalName: "我发起的",
            search: false,
            showExport: false,
            sortName: "createTime",
		    sortOrder: "desc",
            columns: [{
                checkbox: true
            },
            {
                field: 'id',
                title: 'id',
                visible: false
            },
            {
                field: 'userName',
                title: '申请人'
            },
            {
                field: 'procInstId',
                title: '流程id',
                visible: false
            },
            {
                field: 'taskId',
                title: '任务id',
                visible: false
            },
            {
                field: 'nodeName',
                title: '任务名称'
            },
            {
                field: 'status',
                title: '审批状态',
                formatter: function (value, row, index) {
	        		return $.table.selectDictLabel(statusData, value);
	        	}
            },
            {
                field: 'type',
                title: '类型',
                formatter: function (value, row, index) {
	        		return $.table.selectDictLabel(approveType, value);
	        	}
            },
            {
                field: 'applyTimeFrom',
                title: '申请时间从',
                visible: false
            },
            {
                field: 'applyTimeTo',
                title: '申请时间到',
                visible: false
            },
            {
                field: 'applyDays',
                title: '申请时间',
                visible: false
            },
            {
                field: 'applyReason',
                title: '申请事由',
                visible: false
            },
            {
                field: 'createTime',
                title: '创建日期'
            },
            {
                field: 'remark',
                title: '备注'
            },
            {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var actions = [];
                    var text='查看详情'
		            var edit=''
				    var classN='btn-info'
					if(row.status=='3'){
					    text='编辑'
					    classN='btn-success'
					}
                    actions.push('<a class="btn btn-sm '+classN+' ' + edit + '" href="#" onclick="approveTab(\''+row.type+'\',\''+row.id+'\')">'+text+'</a>');
                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    }
    
    //打开详情页面
   function approveTab(type,id){
    	var config = {
    	        url: prefix+"/toDetail/"+type+"/"+id,
    	        beforeSend: function () {
    	        	$.modal.loading("正在处理中，请稍后...");
    	        },
    	        success: function(result) {
    	        	$.modal.closeLoading();
    	        	$.modal.openTab("任务详情", result);
    	        }
    	    };
    	    $.ajax(config)
    }
    
</script>
</body>
</html>