<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增样品主(协议项目)')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bridgeSampleMain-add">
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">委托单id：</label>
            <div class="col-sm-8">
            	<input id="orderId" name="orderId" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">委托单类型：</label>
            <div class="col-sm-8">
            	<input id="orderType" name="orderType" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param1" name="param1" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param2" name="param2" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param3" name="param3" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param4" name="param4" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param5" name="param5" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param6" name="param6" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param7" name="param7" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param8" name="param8" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param9" name="param9" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param10" name="param10" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param11" name="param11" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param12" name="param12" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param13" name="param13" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param14" name="param14" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param15" name="param15" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param16" name="param16" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param17" name="param17" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param18" name="param18" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">：</label>
            <div class="col-sm-8">
            	<input id="param19" name="param19" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">数组字段：</label>
            <div class="col-sm-8">
            	<input id="param20" name="param20" class="form-control" type="text">
            </div>
        </div>
    </div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "bridge/bridgeSampleMain"
		$("#form-bridgeSampleMain-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-bridgeSampleMain-add').serialize());
	        }
	    }
	</script>
</body>
</html>
