<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增收据')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <!--抬头  -->
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-body ">
                        <form class="form-horizontal m" id="form-sysProReceipt-add">
                            <table class="table table-bordered table-condensed" style="width: 90%; margin: 0 auto">
                                <caption class="text-center">
                                    <h2>收据</h2>
                                </caption>
                                <tbody>
                                    <tr>
                                        <td class="active">申请人：</td>
                                        <td>
                                            <input id="proposer" name="proposer" th:value="${user.userId}" class="form-control" type="hidden">
                                            <input th:value="${user.userName}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">申请部门：</td>
                                        <td>
                                            <input id="deptId" name="deptId" class="form-control" th:value="${user.deptId}" type="hidden">
                                            <input id="deptName" name="deptName" th:value="${user.dept.deptName}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">申请日期：</td>
                                        <td>
                                            <div class="input-group data">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input id="applyTime" name="applyTime" class="form-control time-input-data currentDate" type="text" >
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">工程名称：</td>
                                        <td>
                                            <input id="projectId" name="projectId" type="hidden" />
                                            <input id="proName" name="proName" class="form-control" type="text"
                                                   onclick="selectPro('projectId','proName')" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">合同名称：</td>
                                        <td>
                                            <input id="contractName" name="contractName" class="form-control" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">收款单位：</td>
                                        <td>
                                            <input id="receiptUnit" name="receiptUnit" class="form-control" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">摘要：</td>
                                        <td>
                                            <input id="description" name="description" class="form-control" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">金额：</td>
                                        <td>
                                            <input id="amount" name="amount" class="form-control" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">金额大写：</td>
                                        <td>
                                            <input id="moneyUpper" name="moneyUpper" class="form-control" type="text" readonly="readonly">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">盖章类型：</td>
                                        <td>
                                            <select id="sealType" name="sealType" class="form-control" th:with="type=${@dict.getType('oa_seal_type')}">-->
                                                <option value="">------所有------</option>
                                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-10">
                                <button type="button" class="btn btn-sm btn-info" onclick="saveDraft()">
                                    <i class="fa fa-check"></i>保存草稿
                                </button>
                                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">
                                    <i class="fa fa-check"></i>提交
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()">
                                    <i class="fa fa-reply-all"></i>关 闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "oa/sysProReceipt"
		$("#form-sysProReceipt-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});

        //提交
        function submitHandler() {
            if ($.validate.form()) {
                var data = {};
                data = $('#form-sysProReceipt-add').serializeObject();
                $.operate.saveJsonTab(prefix + "/add", data);
            }
        }
        //保存草稿
        function saveDraft(){
            if ($.validate.form()) {
                var data = {};
                data = $('#form-sysProReceipt-add').serializeObject();
                $.operate.saveJsonTab(prefix + "/saveDraft", data);
            }
        }
        //自动大小写转换
        $("input[name='amount']").bind("input propertychange",
            function() {//监控输入框的变化
                var num = $(this).val();
                var a = parseInt(num);
                var config = {
                    url : ctx + "common/converMoneyToCN/" + a,
                    type : "get",
                    dataType : "json",
                    success : function(result) {
                        if (result.code == '0') {
                            $("input[name='moneyUpper']").val(result.msg)
                        }
                    }
                };
                $.ajax(config)
            });
	</script>
</body>
</html>
