<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('保证金申请列表')"/>
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <input type="hidden" id="CompanyId"
                                   name="companyId"/> <input type="text" id="CompanyName"
                                                             onclick="selectDeptTree('CompanyId','CompanyName','0')"
                                                             placeholder="申请公司"/>
                        </li>
                        <li>
                            <input type="text" name="userName"
                                   class="form-control" placeholder="申请人"/>
                        </li>
                        <li>
                            <select id="applyType" name="applyType"
                                    th:with="type=${@dict.getType('oa_jy_applyType')}">
                                <option value="">申请类型</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>

                        </li>
                        <li>
                            <input type="text" name="projectName"
                                   class="form-control" placeholder="工程名称"/>
                        </li>
                        <li>
                            <select id="marginType" name="marginType"
                                    th:with="type=${@dict.getType('oa_jy_margin_type')}">
                                <option value="">保证金类型</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>

                        </li>
                        <li><a class="btn btn-primary btn-rounded btn-sm"
                               onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm"
                               onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:oaMargin:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:oaMargin:remove')}]];
    var prefix = ctx + "oa/oaMargin";

    var marginType = [[${@dict.getType('oa_jy_margin_type')}]];
    var tenderType = [[${@dict.getType('business_project_type')}]];
    var applyState = [[${@dict.getType('oa_leave_status')}]];
    var payStatus = [[${@dict.getType('oa_jy_payStatus')}]];
    var backStatus = [[${@dict.getType('oa_jy_backStatus')}]];
    var applyType = [[${@dict.getType('oa_jy_applyType')}]];
    console.log([[${projectId}]]);
    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            modalName: "保证金申请",
            showFooter: true,
            queryParams: {"projectId": [[${projectId}]]},
            columns: [
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'code',
                    title: '编号',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return '<a  href="#" onclick="$.operate.editTab(\'' + row.id + '\')">' + row.code + '</a> '
                    }
                },
                {
                    field: 'tenderCompany',
                    title: '投标公司',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'proposer',
                    title: '申请人id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'userName',
                    title: '申请人',
                    sortable: true
                },
                {
                    field: 'deptId',
                    title: '申请部门id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'companyName',
                    title: '申请公司',
                    sortable: true
                },
                {
                    field: 'deptName',
                    title: '申请部门',
                    sortable: true
                },
                {
                    field: 'applyTime',
                    title: '申请日期',
                    sortable: true
                },
                {
                    field: 'applyType',
                    title: '申请类型',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(applyType, value);
                    }
                },
                {
                    field: 'projectName',
                    title: '工程名称',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 5, "open");
                    }
                },
                {
                    field: 'marginType',
                    title: '保证金类型',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(marginType, value);
                    }
                },
                {
                    field: 'actualTransferMoney',
                    title: '审批金额',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var amount = row.actualTransferMoney;
                        if (row.actualTransferMoney == 'undefined' || row.actualTransferMoney == '' || row.actualTransferMoney == null) {
                            if (row.marginTotalMoney == 'undefined' || row.marginTotalMoney == '' || row.marginTotalMoney == null) {
                                //审批金额如果是'undefined'或者 空 或者 null 且 保证金金额如果是'undefined'或者 空 或者 null  审批金额=0
                                amount = 0
                            } else {
                                //审批金额如果是'undefined'或者 空 或者 null 且 保证金金额如果不是'undefined'或者 空 或者 null  审批金额=保证金金额
                                amount = row.marginTotalMoney;
                            }

                        }

                        return amount
                    },
                    footerFormatter: function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            if (value[i].actualTransferMoney == null || value[i].actualTransferMoney == 'undefined' || value[i].actualTransferMoney == '') {
                                if (value[i].marginTotalMoney == 'undefined' || value[i].marginTotalMoney == '' || value[i].marginTotalMoney == null) {
                                    //审批金额如果是'undefined'或者 空 或者 null 且 保证金金额如果是'undefined'或者 空 或者 null  总计+=0
                                    sumBalance += 0
                                } else {
                                    //审批金额如果是'undefined'或者 空 或者 null 且 保证金金额如果不是'undefined'或者 空 或者 null  总计+=保证金金额
                                    sumBalance += parseFloat(value[i].marginTotalMoney)
                                }

                            } else {
                                //审批金额不是'undefined'或者 空 或者 null 总计+=审批金额
                                sumBalance += parseFloat(value[i].actualTransferMoney);
                            }


                        }

                        return '合计:' + sumBalance;
                    }
                },
                {
                    field: 'transferMethod',
                    title: '转账方式',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'marginTotalMoney',
                    title: '保证金总金额',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var amount = row.marginTotalMoney;
                        if (row.marginTotalMoney == 'undefined' || row.marginTotalMoney == '' || row.marginTotalMoney == null) {
                            //保证金总金额如果是'undefined'或者 空 或者 null 保证金总金额=0
                            amount = 0;
                        }

                        return amount
                    },
                    footerFormatter: function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            if (value[i].marginTotalMoney == 'undefined' || value[i].marginTotalMoney == '' || value[i].marginTotalMoney == null) {
                                //保证金总金额是'undefined'或者 空 或者 null 总计+=0
                                sumBalance += 0
                            } else {
                                //保证金总金额不是'undefined'或者 空 或者 null 总计+=保证金总金额
                                sumBalance += parseFloat(value[i].marginTotalMoney);
                            }

                        }
                        return sumBalance;
                    }
                },
                {
                    field: 'totalMoneyUpcase',
                    title: '保证金总金额大写',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'actualTransferMoney',
                    title: '实际转账金额',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'actualTransferUpcase',
                    title: '实际转账金额大写',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'transferDesc',
                    title: '转账说明',
                    sortable: true,
                    visible: false,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 5, "open");
                    }
                },
                {
                    field: 'applyType',
                    title: '申请类型',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'companyAccount',
                    title: '公司收款账户',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'projectId',
                    title: '工程id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'tenderType',
                    title: '投标方式',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(tenderType, value);
                    }
                },
                {
                    field: 'endArrivalTime',
                    title: '到账截止时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'sourceOfPayment',
                    title: '款项来源人',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'sourceOfAccount',
                    title: '来源人账号',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'sourceOpenBank',
                    title: '来源人开户行',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'collectOfPayment',
                    title: '收款人',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'collectOfAccount',
                    title: '收款人账号',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'collectOpenBank',
                    title: '收款人开户行',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'backMarginId',
                    title: '退保证金时关联的申请保证金id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'backMarginCode',
                    title: '退保证金时关联申请保证金的编码',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'applyStatus',
                    title: '审批状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(applyState, value);
                    }
                },
                {
                    field: 'payStatus',
                    title: '付款状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payStatus, value);
                    },
                    visible: false
                },
                {
                    field: 'backStatus',
                    title: '退回状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(backStatus, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'createBy',
                    title: '创建者',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'updateBy',
                    title: '更新者',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    sortable: true,
                    visible: false
                }]
        };
        $.table.init(options);
    });


</script>
</body>
</html>