<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改采购申请')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-oaPurchase-edit" th:object="${oaPurchase}">
                        <input id="id" name="id" th:field="*{id}" type="hidden">
                        <input name="procInstId" type="hidden" id="procInstId" th:value="*{procInstId}"/>
                        <table class="table table-bordered table-condensed" >
                            <caption class="text-center">
                                <h2>采购申请</h2>
                            </caption>
                            <tbody>
                            <th colspan="4">
                                表单信息
                            </th>
                            <tr>
                                <td class="active">采购标题</td>
                                <td>
                                    <input id="title" name="title" th:field="*{title}" class="form-control" type="text">
                                </td>
                                <td class="active">申请人</td>
                                <td>
                                    <input id="proposer" name="proposer" th:field="*{userName}" class="form-control" type="text" readonly="true">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">归属公司</td>
                                <td>
                                    <input name="companyId" type="hidden" id="companyId" th:value="*{companyId}"/>
                                    <input name="companyName" id="companyName" onclick="selectDeptTree('companyId','companyName','0')"
                                           th:value="*{companyName}" class="form-control" type="text">
                                </td>
                                <td class="active">归属部门</td>
                                <td>
                                    <input name="deptId" type="hidden" id="deptId" th:value="*{deptId}"/>
                                    <input th:value="*{dept.deptName}" name="deptName" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">状态</td>
                                <td>
                                    <select name="status" class="form-control" th:with="type=${@dict.getType('oa_leave_status')}" th:field="*{status}" disabled="disabled">
                                        <option value="">所有</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                                <td class="active">申购事由</td>
                                <td>
                                    <input id="reason" name="reason" th:field="*{reason}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">创建日期</td>
                                <td>
                                    <input id="createTime" name="createTime"class="form-control time-input" type="text"
                                           readonly="true" th:value="${#dates.format(oaPurchase.createTime, 'yyyy-MM-dd HH:mm:ss')}">
                                </td>
                                <td class="active">备注</td>
                                <td>
                                    <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="btn-group-sm" id="toolbar1" role="group">
                        <a class="btn btn-success" data-toggle="modal" id="addCon"> <i
                                class="fa fa-plus"></i> 新增行
                        </a> <a class="btn btn-danger multiple"
                                onclick="removeRow('bootstrap-table')"> <i class="fa fa-remove"></i>
                        删除选择行
                    </a> <a class="btn btn-danger" onclick="removeRowAll('bootstrap-table')">
                        <i class="fa fa-remove"></i> 删除所有行
                    </a>
                    </div>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table" data-mobile-responsive="true"></table>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10 ">
                            <br>
                            <button type="button" th:if="${oaPurchase.status} == '99'"
                                    class="btn btn-sm btn-info" onclick="saveDraft('bootstrap-table')">
                                <i class="fa fa-check"></i>保存草稿
                            </button>
                            <button th:if="${oaPurchase.status} == '99'" type="button"
                                    class="btn btn-sm btn-primary"
                                    onclick="submitHandlerDraft('bootstrap-table')">
                                <i class="fa fa-check"></i>提交
                            </button>
                            <button th:if="${oaPurchase.status} == '3'" type="button"
                                    class="btn btn-sm btn-primary"
                                    onclick="submitHandler('bootstrap-table')">
                                <i class="fa fa-check"></i>提交
                            </button>
                            <button type="button" class="btn btn-sm btn-info"
                                    th:if="${oaPurchase.status!='2'&&oaPurchase.status!='16'&&oaPurchase.status!='99'}"
                                    onclick="urge()">
                                <i class="fa fa-check"></i>催办
                            </button>
                            <button type="button" class="btn btn-sm btn-success"
                                    th:if="${oaPurchase.status} != '99'"
                                    th:onclick="selectUser('','','0',[[${oaPurchase.id}]],'oa/oaPurchase/copy')">
                                抄送
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关 闭
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="approveTaskId" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 弹出框 -->
<div class="modal inmodal fade" id="myModal5" role="dialog"
     aria-hidden="true">
    <input id="myModal5Value" type="hidden">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body ">

                <form class="form-horizontal m" id="form-Condition-add">

                    <div class="">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">物资名称：</label>
                            <div class="col-sm-8">
                                <input id="goodsName" name="goodsName" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数量：</label>
                            <div class="col-sm-8">
                                <input id="num" name="num" class="form-control" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单位：</label>
                            <div class="col-sm-8">
                                <input id="unit" name="unit" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单价：</label>
                            <div class="col-sm-8">
                                <input id="price" name="price" class="form-control"
                                       type="number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">规格型号：</label>
                            <div class="col-sm-8">
                                <input id="brand" name="brand" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">使用时间：</label>
                            <div class="col-sm-8">
                                <input id="useTime" name="useTime"
                                       class="form-control time-input-data" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input name="remark" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="insertCondition">保存
                </button>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: lastNode"/>
<script th:inline="javascript">
    var prefix = ctx + "oa/oapurchase";
    var lastNodeId = [[${oaPurchase.id}]];
    var actDefineId = [[${oaPurchase.actDefineId}]];
    var lastStatus = [[${oaPurchase.status}]];
    //流程
    var data = {};
    data.procInstId = [[${oaPurchase.procInstId}]];
    data.id = [[${oaPurchase.id}]];
    selectActProcessList(data, "approveTaskId");

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.saveTab(prefix + "/edit", $('#form-oaPurchase-edit').serialize());
        }
    }

    function onEditableSave(field, row, oldValue, $el) {
        alert("字段名：" + field + "，当前值：" + row[field] + "，旧值：" + oldValue);
    }

    var options = {
        id: "bootstrap-table",
        url: ctx + "oa/oaPurchaseDetail/list",
        modalName: "采购物资明细",
        toolbar: "toolbar",
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        showPageGo: true,
        queryParams: {'purchaseId': lastNodeId},
        onEditableSave: onEditableSave,
        columns: [{
            checkbox: true
        }, {
            field: 'id',
            title: 'id',
            visible: false
        }, {
            field: 'goodsName',
            title: '物资名称',
            //sortable: true,
            editable: true

        }, {
            field: 'num',
            title: '数量',
            //sortable: true,
            editable: {
                type: 'text',
                title: '数量',
                emptytext: "【数量】为空"
            }
        }, {
            field: 'unit',
            title: '单位',
            //sortable: true,
            editable: {
                type: 'text',
                title: '单位',
                emptytext: "【单位】为空"
            }
        }, {
            field: 'price',
            title: '单价',
            //sortable: true,
            editable: {
                type: 'text',
                title: '单价',
                emptytext: "【单价】为空"
            }
        }, {
            field: 'brand',
            title: '规格型号',
            //sortable: true,
            editable: {
                type: 'text',
                title: '规格型号'
            }
        }, {
            field: 'purchaseId',
            title: '主表id',
            //sortable: true,
            visible: false
        }, {
            field: 'useTime',
            title: '使用时间',
            //sortable: true,
            editable: {
                type: 'date',
                title: '使用时间',
                emptytext: "【使用时间】为空"
            }
        }, {
            field: 'remark',
            title: '备注',
            //sortable: true,
            editable: {
                type: 'text',
                title: '备注'
            }
        }]
    };

    /* 删除指定表格行 */
    function removeRow(id) {
        var ids = $.map($('#' + id).bootstrapTable('getSelections'),
            function (row) {
                return row["id"];
            });
        if (ids.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $("#" + id).bootstrapTable('remove', {
            field: 'id',
            values: ids
        })
    }

    /* 删除所有表格行 */
    function removeRowAll(id) {
        $("#" + id).bootstrapTable('removeAll')
    }

    function onEditableSave(field, row, oldValue, $el) {
        alert("字段名：" + field + "，当前值：" + row[field] + "，旧值：" + oldValue);
    }

    //弹框添加表格行
    var idxx = 0;

    function insertCondition(id) {

        var randomId = 100 + ~~(Math.random() * 100);
        var form_data = $('#form-Condition-add').serializeObject();
        form_data.idx = idxx
        form_data.id = randomId

        $("#bootstrap-table").bootstrapTable('insertRow', {
            index: 0, // 你想插入到哪，0表示第一行
            row: form_data
        })
        idxx++
        $.modal.close();
    }

    /* 提交 */
    function submitHandler(id) {
        var data = {}
        var form_data = $('#form-oaPurchase-edit').serializeObject();
        data.oaPurchase = form_data;
        data.oaPurchaseDetailList = $("#" + id).bootstrapTable('getData');
        if (data.oaPurchaseDetailList == null
            || data.oaPurchaseDetailList.length == 0) {
            $.modal.alertWarning("请填写采购明细！！！");
            return;
        }
        for (var i = 0; i < data.oaPurchaseDetailList.length; i++) {
            var d = data.oaPurchaseDetailList[i];
            if (isNull(d.goodsName) || isNull(d.num) || isNull(d.price)
                || isNull(d.unit)) {
                $.modal.alertWarning("物资名称，数量，单位，单价必填！！！");
                return;
            }
        }
        $.operate.saveJsonTab(prefix + "/edit", data);

    }

    //提交草稿
    function submitHandlerDraft(id) {
        var data = {}
        var form_data = $('#form-oaPurchase-edit').serializeObject();
        data.oaPurchase = form_data;
        data.oaPurchaseDetailList = $("#" + id).bootstrapTable('getData');
        if (data.oaPurchaseDetailList == null
            || data.oaPurchaseDetailList.length == 0) {
            $.modal.alertWarning("请填写采购明细！！！");
            return;
        }
        for (var i = 0; i < data.oaPurchaseDetailList.length; i++) {
            var d = data.oaPurchaseDetailList[i];
            if (isNull(d.goodsName) || isNull(d.num) || isNull(d.price)
                || isNull(d.unit)) {
                $.modal.alertWarning("物资名称，数量，单位，单价必填！！！");
                return;
            }
        }
        $.operate.saveJsonTab(prefix + "/submitDraft", data);
    }

    //保存草稿
    function saveDraft(id) {
        var data = {}
        var form_data = $('#form-oaPurchase-edit').serializeObject();
        data.oaPurchase = form_data;
        data.oaPurchaseDetailList = $("#" + id).bootstrapTable('getData');
        $.operate.saveJsonTab(prefix + "/saveDraft", data);
    }

    //判断字段是否为空
    function isNull(req) {
        if (req == null || req == '') {
            return true;
        } else {
            return false;
        }
    }

    $(function () {
        $.table.init(options);
        //点击弹框
        $('#addCon').click(function () {
            clearForm($('#form-Condition-add'))
            $('#myModal5Value').val('0');
            $('#myModal5').modal(options);
        })
        $('#insertCondition').click(function () {
            insertCondition()
        })

    })

</script>
</body>
</html>
