<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增委托书与样品关系')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bridgeOrderSample-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">样品id：</label>
				<div class="col-sm-8">
					<input id="sampleId" name="sampleId" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "bridge/bridgeOrderSample"
		$("#form-bridgeOrderSample-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-bridgeOrderSample-add').serialize());
	        }
	    }
	</script>
</body>
</html>
