<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增工程项目')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bridgeProject-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">工程编号：</label>
				<div class="col-sm-8">
					<input id="code" name="code" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工程名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目缩写：</label>
				<div class="col-sm-8">
					<input id="briefCode" name="briefCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">委托单位：</label>
				<div class="col-sm-8">
					<input id="client" name="client" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工程用途：</label>
				<div class="col-sm-8">
					<input id="usePlace" name="usePlace" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工程负责人：</label>
				<div class="col-sm-8">
				    <input id="chargePersonId" name="chargePersonId" class="form-control" type="hidden" >
					<input id="chargePersonName" name="chargePersonName" class="form-control" type="text" onclick="selectUser('chargePersonId','chargePersonName')">
					
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系人姓名：</label>
				<div class="col-sm-8">
					<input id="contactPersonName" name="contactPersonName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系人电话：</label>
				<div class="col-sm-8">
					<input id="contactPhone" name="contactPhone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">详细地址：</label>
				<div class="col-sm-8">
					<input id="detailAddr" name="detailAddr" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">邮政编码：</label>
				<div class="col-sm-8">
					<input id="zipCode" name="zipCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">建设单位：</label>
				<div class="col-sm-8">
					<input id="constructUnit" name="constructUnit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设计单位：</label>
				<div class="col-sm-8">
					<input id="designUnit" name="designUnit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">施工单位：</label>
				<div class="col-sm-8">
					<input id="workingUnit" name="workingUnit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">见证单位：</label>
				<div class="col-sm-8">
					<input id="monitorUnit" name="monitorUnit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">见证人姓名：</label>
				<div class="col-sm-8">
					<input id="witnessPersonName" name="witnessPersonName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">见证人证号：</label>
				<div class="col-sm-8">
					<input id="witnessPersonCode" name="witnessPersonCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">取样员姓名：</label>
				<div class="col-sm-8">
					<input id="samplingPersonName" name="samplingPersonName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">取样员证号：</label>
				<div class="col-sm-8">
					<input id="samplingPersonCode" name="samplingPersonCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计划开工时间：</label>
				<div class="col-sm-8">
				  <div class="input-group data">
				    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input id="planStartDate" name="planStartDate" class="form-control time-input-data" type="text">
				  </div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计划完工时间：</label>
				<div class="col-sm-8">
				   <div class="input-group data">
				     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					 <input id="planEndDate" name="planEndDate" class="form-control time-input-data" type="text">
				   </div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目重难点：</label>
				<div class="col-sm-8">
					<input id="difficultPoint" name="difficultPoint" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group hide">	
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group hide">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group hide">	
				<label class="col-sm-3 control-label">更新者：</label>
				<div class="col-sm-8">
					<input id="updateBy" name="updateBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group hide">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updateTime" name="updateTime" class="form-control" type="text">
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-10">
				<br>
				<button type="button" class="btn btn-sm btn-primary"
					onclick="submitHandler()">
					<i class="fa fa-check"></i>保 存
				</button>
				&nbsp;
				<button type="button" class="btn btn-sm btn-danger"
					onclick="closeItem()">
					<i class="fa fa-reply-all"></i>关 闭
				</button>
			</div>
		</div>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "bridge/bridgeProject"
		$("#form-bridgeProject-add").validate({
			rules:{
				contactPhone:{//联系人电话
					isPhone:true					
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.saveTab(prefix + "/add", $('#form-bridgeProject-add').serialize());
	        }
	    }
	</script>
</body>
</html>
