<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改证件调配申请')" />
<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<!--抬头  -->
		<div class="hr-line-dashed"></div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="panel panel-default">
					<div class="panel-body ">
						<form class="form-horizontal m" id="form-oaCertificatesTransfer-edit" th:object="${oaCertificatesTransfer}">
							<input id="id" name="id" th:field="*{id}" type="hidden">
							<table class="table table-bordered table-condensed" >
								<caption class="text-center">
									<h2>证件调配申请</h2>
								</caption>
								<tbody>
								<th colspan="4">
									表单信息
								</th>
								<tr>
									<td class="active">申请人</td>
									<td>
										<input class="form-control" type="text" th:field="*{userName}" readonly>
									</td>
									<td class="active">申请公司</td>
									<td>
										<input type="hidden" name="applyCompanyId" id="companyId" th:field="*{applyCompanyId}"/>
										<input type="text" id="companyName" name="applyCompanyName" class="form-control"
											   onclick="selectDeptTree('companyId','companyName','0')" th:field="*{applyCompanyName}"/>
									</td>
								</tr>
								<tr>
									<td class="active">申请部门</td>
									<td>
										<input type="hidden" name="applyDeptId" id="treeId" th:field="*{applyDeptId}"/>
										<input type="text" id="treeName" name="applyDeptName" class="form-control"
											   onclick="selectDeptTree('treeId','treeName','1')" th:field="*{applyDeptName}"/>
									</td>
									<td class="active">投标申请单</td>
									<td>
										<input id="tenderId" name="tenderId" th:field="*{tenderId}" class="form-control" type="hidden">
										<input id="tenderName" name="tenderName" th:field="*{tenderName}" class="form-control" type="text" onclick="selectTen('tenderId','tenderName')">
									</td>
								</tr>
								<tr>
									<td class="active">所属项目</td>
									<td>
										<input id="projectId" name="projectId" th:field="*{projectId}" class="form-control" type="hidden">
										<input id="projectName" name="projectName" th:field="*{projectName}" class="form-control" type="text" onclick="selectPro('projectId','projectName')">
									</td>
									<td class="active">申请日期</td>
									<td>
										<input id="applyTime" name="applyTime"  class="form-control currentTime" type="text" readonly
											   th:value="${#dates.format(oaCertificatesTransfer.applyTime, 'yyyy-MM-dd HH:mm:ss')}">
									</td>
								</tr>
								<tr>
									<td class="active"><span style="color: red;">*</span>调证开始日期</td>
									<td>
										<div class="input-group data">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											<input id="transferStartDate" name="transferStartDate" class="form-control currentTime time-input" type="text"
												   th:value="${#dates.format(oaCertificatesTransfer.transferStartDate, 'yyyy-MM-dd HH:mm:ss')}" required="required">
										</div>
									</td>
									<td class="active"><span style="color: red;">*</span>调证结束日期</td>
									<td>
										<div class="input-group data">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											<input id="transferEndDate" name="transferEndDate" th:field="*{id}" class="form-control currentTime time-input" type="text"
												   th:value="${#dates.format(oaCertificatesTransfer.transferEndDate, 'yyyy-MM-dd HH:mm:ss')}" required="required">
										</div>
									</td>
								</tr>
								<tr>
									<td class="active">调证事由</td>
									<td>
										<input id="transferReason" name="transferReason" th:field="*{transferReason}" class="form-control" type="text">
									</td>
									<td class="active">备注</td>
									<td>
										<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
									</td>
								</tr>
								</tbody>
							</table>
						</form>

						<div class="ibox">
							<div class="ibox-content">

								<h4>借证明细 &nbsp;&nbsp;</h4>
								<div class="btn-group-sm" id="toolbar1" role="group"
									th:if="${oaCertificatesTransfer.status=='3'}">
									<a class="btn btn-success" onclick="selectCredentials()"> <i
										class="fa fa-plus"></i> 添加需调配证件
									</a>
								</div>
								<div class="select-table table-striped">


									<div class="fixed-table-container">
										<table id="bootstrap-table1" data-mobile-responsive="true"></table>
									</div>

								</div>
								<div class="row">
									<div class="col-sm-offset-5 col-sm-10">
										<br>
										<button type="button" class="btn btn-sm btn-info"
											onclick="saveDraft()" th:if="${oaCertificatesTransfer.status=='99'}">
											<i class="fa fa-check"></i>保存草稿
										</button>
										<button type="button" class="btn btn-sm btn-primary"
											onclick="submitHandlerDraft()"
											th:if="${oaCertificatesTransfer.status=='99'}">
											<i class="fa fa-check"></i>提交
										</button>
										<button type="button" class="btn btn-sm btn-primary"
											onclick="submitHandler()"
											th:if="${oaCertificatesTransfer.status=='3'}">
											<i class="fa fa-check"></i>提交
										</button>
										<button type="button" class="btn btn-sm btn-info"
											th:if="${oaCertificatesTransfer.status!='2'&&oaCertificatesTransfer.status!='16'&&oaCertificatesTransfer.status!='99'}"
											onclick="urge()">
											<i class="fa fa-check"></i>催办
										</button>
										<button type="button" class="btn btn-sm btn-success" th:if="${oaCertificatesTransfer.status!='99'}"
											th:onclick="selectUser('','','0',[[${oaCertificatesTransfer.id}]],'oa/oaCertificatesTransfer/copy')">
											抄送</button>
										<button type="button" class="btn btn-sm btn-danger"
											onclick="closeItem()">
											<i class="fa fa-reply-all"></i>关 闭
										</button>
										<br>
									</div>
									<div class="col-sm-12">
										<table id="approveInfoId" class="table table-bordered "
											data-mobile-responsive="true"></table>

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<th:block th:include="include :: bootstrap-fileinput-js" />
	<th:block th:include="include :: lastNode" />
	<script th:inline="javascript">
		var prefix = ctx + "oa/oaCertificatesTransfer";
		var lastNodeId=[[${oaCertificatesTransfer.id}]];
		var actDefineId=[[${oaCertificatesTransfer.actDefineId}]];
		var lastStatus=[[${oaCertificatesTransfer.status}]];
		var sysCredentialsStatus = [[${@dict.getType('oa_sysCredentials_status')}]];
	    var sysCredentialsType = [[${@dict.getType('oa_sysCredentials_type')}]];
	    var sysYesNo = [[${@dict.getType('sys_yes_no')}]];
		var options1 = {
			id : "bootstrap-table1",
			url : ctx+"oa/oaCertificatesDetail/selectDetailByMId/"+[[${oaCertificatesTransfer.id}]],
			toolbar : "toolbar1",
			modalName : "证件明细",
			showSearch : false,
			showRefresh : false,
			showToggle : false,
			showColumns : false,
			showPageGo : true,
			pagination : false,
			uniqueId : "id",
			height : 300,
			clickToSelect : true,
			columns : [
				{
					radio: true
				},
				{
					field : 'id',
					title : '主键',
					visible: false
				},
				{
					field : 'name',
					title : '证件名称',
					sortable: true
				},
				{
					field : 'code',
					title : '证件编号',
					sortable: true
				},
				{
					field : 'deptId',
					title : '当前所在公司id',
					sortable: true,
					visible: false
				},
				{
					field : 'dept.deptName',
					title : '当前所在公司',
					sortable: true
				},
				{
					field : 'status',
					title : '状态',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysCredentialsStatus, value);
					}
				},
				{
					field : 'type',
					title : '证件类型',
					sortable: true,
					// formatter: function (value, row, index) {
					// 	return $.table.selectDictLabel(sysCredentialsType, value);
					// }

				},
				{
					field : 'canAppoint',
					title : '可预约',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'inCompany',
					title : '在公司',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'paySocial',
					title : '缴纳社保',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'scanCopy',
					title : '有扫描件',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'effect',
					title : '有效',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'remark',
					title : '备注',
					sortable: true
				},
				{
					field : 'createTime',
					title : '创建时间',
					sortable: true,
					visible: false
				},
				{
					field : 'createBy',
					title : '创建者',
					sortable: true,
					visible: false
				},
				{
					field : 'updateTime',
					title : '修改时间',
					sortable: true,
					visible: false
				},
				{
					field : 'updateBy',
					title : '修改者',
					sortable: true,
					visible: false
				}]
		};
		
		
		

		/* 多选证件 */
		function selectCredentials() {
			var options = {
				title : '选择证件',
				width : "1200",
				url : ctx + "system/sysCredentials",
				callBack : doSubmit1
			};
			if ($.validate.form()) {
			$.modal.openOptions(options);
			}
		}
		function doSubmit1(index, layero) {
			var iframeWin = layero.find('iframe')[0];
			var result = iframeWin.contentWindow.submitHandlerMore();
			var data = result;
			for (var i = 0; i < data.length; i++) {
				insertRow(data[i])
			}

		}
		/*新增行*/
		var idxId = 1;
		function insertRow(data) {
			var randomId = 100 + ~~(Math.random() * 100);
			var table_row = '';
			table_row = data
			table_row[0]=false;
			table_row.certificatesId=data.id
		    var countDate = $("#bootstrap-table1").bootstrapTable('getData');
			if(isHas(countDate,data.id)==false){
				$("#bootstrap-table1").bootstrapTable('insertRow', {
					index : 0, // 你想插入到哪，0表示第一行
					row : table_row
				})
			}
			
		}
		//判断是否已经添加
		function isHas(data,id){
			var isTF=false;
			for(var i=0;i<data.length;i++){
				if(data[i].id==id){
					isTF=true;
				}
			}
			return isTF;
		}
		/* 删除指定表格行 */
		function removeRow(id) {
			var ids = $.map($('#' + id).bootstrapTable('getSelections'),
					function(row) {
						return row["id"];
					});
			if (ids.length == 0) {
				$.modal.alertWarning("请至少选择一条记录");
				return;
			}
			$("#" + id).bootstrapTable('remove', {
				field : 'id',
				values : ids
			})

		}
		/* 删除所有表格行 */
		function removeRowAll(id) {
			$("#" + id).bootstrapTable('removeAll')
			idxx = 0;
		}
		//选择申请单
        var pId=null;
        var pName=null;
        function selectTen(id,name){
        	pId=id;
        	pName=name;
        	var options = {
    				title: '选择工程',
    				width: "1200",
    				url: ctx + "business/jyTenderNotice",
    				callBack: doSubmit3
    		};
    		$.modal.openOptions(options);
        }
        function doSubmit3(index, layero){
        	var iframeWin = layero.find('iframe')[0];
			var result = iframeWin.contentWindow.submitHandler();
			var data = result;
			$('#'+pId).val(data.id)
			$('#'+pName).val(data.projectName)
		}
      //选择项目
        var tId=null;
        var tName=null;
        function selectPro(id,name){
        	tId=id;
        	tName=name;
        	var options = {
    				title: '选择项目',
    				width: "1200",
    				url: ctx + "business/jyConstructInfo",
    				callBack: doSubmit4
    		};
    		$.modal.openOptions(options);
        }
        function doSubmit4(index, layero){
        	var iframeWin = layero.find('iframe')[0];
			var result = iframeWin.contentWindow.submitHandler();
			var data = result;
			$('#'+tId).val(data.id)
			$('#'+tName).val(data.projName)
		}
        //保存数据
        function savaDta(){
        	var data={};
        	var formDa=$('#form-oaCertificatesTransfer-edit').serializeObject()
        	data.transfer=formDa
        	var tabDa=$("#bootstrap-table1" ).bootstrapTable('getData')
        	data.detailList=tabDa
        	return data;
        }
        //提交
		function submitHandler() {
			var data=savaDta();
			var detailArray = new Array();
			//对象非空
			if(JSON.stringify(data.detailList)!="{}"){
				for(var i=0; i<data.detailList.length; i++){
					var obj = {};
					obj.certificatesId = data.detailList[i].id;
					detailArray.push(obj);
				}
			}
			data.detailList = detailArray;
			$.operate.saveJsonTab(prefix + "/modifyTransfer",data);
		}
		 //提交草稿
		function submitHandlerDraft() {
			var data=savaDta();
			var detailArray = new Array();
			//对象非空
			if(JSON.stringify(data.detailList)!="{}"){
				for(var i=0; i<data.detailList.length; i++){
					var obj = {};
					obj.certificatesId = data.detailList[i].id;
					detailArray.push(obj);
				}
			}
			data.detailList = detailArray;
			$.operate.saveJsonTab(prefix + "/submitDraft",data);
		}
		//保存草稿
		function saveDraft(){
			var data=savaDta();
			var detailArray = new Array();
			//对象非空
			if(JSON.stringify(data.detailList)!="{}"){
				for(var i=0; i<data.detailList.length; i++){
					var obj = {};
					obj.certificatesId = data.detailList[i].id;
					detailArray.push(obj);
				}
			}
			data.detailList = detailArray;
			$.operate.saveJsonTab(prefix + "/saveDraft",data);
		}
		$(function(){
			//初始化相关部门申请表格
			$.table.init(options1);
		})
		//流程
		var data = {};
    	data.procInstId=[[${oaCertificatesTransfer.procInstId}]];
    	data.id = [[${oaCertificatesTransfer.id}]];
		selectActProcessList(data,"approveInfoId");	
	</script>
</body>
</html>
