<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('对应类型的监听列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li class="select-selectpicker">
							    <p style="width:50px">类型：</p>
								<select id="type" class="selectpicker" name="type" th:with="type=${@dict.getType('oa_examine_type')}">
							         <option value=""> -- 所有 --</option>
							         <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					            </select>	
							</li>

							<li>
							    <p style="width:80px">监听类名：</p>
								<input type="text" name="listenerName"/>
							</li>

							<li>
							    <p style="width:50px">备注：</p>
								<input type="text" name="remark"/>
							</li>

							<li>
							    <p style="width:80px">创建日期：</p>
								<input type="text" name="createTime"/>
							</li>
							<li>
							    <p style="width:80px">监听类型：</p>
								<select id="event" class="selectpicker" name="event" th:with="type=${@dict.getType('oa_examine_event_type')}">
							         <option value=""> -- 所有 --</option>
							         <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					            </select>	
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="oa:oaListener:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="oa:oaListener:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="oa:oaListener:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="oa:oaListener:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('oa:oaListener:edit')}]];
        var removeFlag = [[${@permission.hasPermi('oa:oaListener:remove')}]];
        var prefix = ctx + "oa/oaListener";
        
        var examineType = [[${@dict.getType('oa_examine_type')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "对应类型的监听",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'type', 
					title : '类型',
					sortable: true,
					formatter: function (value, row, index) {
		        		return $.table.selectDictLabel(examineType, value);
		        	}
				},
				{
					field : 'listenerName', 
					title : '监听类名',
					sortable: true,
					editable: true
				},
				{
					field : 'event', 
					title : '监听类型',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建日期',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>