<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('新增样品领用记录')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-bridgeSampleRequire-add">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span
						style="color: red;">*</span>选择样品：</label>
					<div class="col-sm-8">
						<input id="sampleName" name="sampleName"
							class="form-control required" type="text"
							onclick="selectSample('sampleId','sampleName')"
							aria-required="true">
					</div>
				</div>
			</div>
			<div class="col-sm-6 hide">
				<div class="form-group">
					<label class="col-sm-4 control-label">样品Id：</label>
					<div class="col-sm-8">
						<input id="sampleId" name="sampleId" class="form-control"
							type="text" readonly="readonly" >
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">领取事由：</label>
					<div class="col-sm-8">
						<input id="requireCause" name="requireCause" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">领取数量：</label>
					<div class="col-sm-8">
						<input id="requireNumber" name="requireNumber"
							class="form-control" type="number" min="1">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">单位：</label>
					<div class="col-sm-8">
						<input id="unit" name="unit" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">外观质量：</label>
					<div class="col-sm-8">
						<input id="appearance" name="appearance" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">领取时间：</label>
					<div class="col-sm-8">
						<div class="input-group data">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input id="requireDate" name="requireDate"
								class="form-control time-input-data" type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">样品状态：</label>
					<div class="col-sm-8">
						<select id="sampleStatus" class="form-control" name="sampleStatus" th:with="type=${@dict.getType('bridge_sample_require_status')}">
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" ></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span
						style="color: red;">*</span>发样人：</label>
					<div class="col-sm-8">
						<input id="sampleProviderId" name="sampleProviderId" type="hidden">
						<input id="sampleProviderName" name="sampleProviderName"
							class="form-control required" type="text"
							onclick="selectUserById('sampleProviderId','sampleProviderName')"
							aria-required="true">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span
						style="color: red;">*</span>领样人：</label>
					<div class="col-sm-8">
						<input id="sampleReceiverId" name="sampleReceiverId" type="hidden">
						<input id="sampleReceiverName" name="sampleReceiverName"
							class="form-control required" type="text"
							onclick="selectUserById('sampleReceiverId','sampleReceiverName')"
							aria-required="true">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">试验场地：</label>
					<div class="col-sm-8">
						<input id="expPlace" name="expPlace" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">备注：</label>
					<div class="col-sm-8">
						<input id="remark" name="remark" class="form-control" type="text">
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">创建者：</label>
            <div class="col-sm-8">
            	<input id="createBy" name="createBy" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">创建时间：</label>
            <div class="col-sm-8">
            	<input id="createTime" name="createTime" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">更新者：</label>
            <div class="col-sm-8">
            	<input id="updateBy" name="updateBy" class="form-control" type="text">
            </div>
        </div>
    </div>
	<div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">更新时间：</label>
            <div class="col-sm-8">
            	<input id="updateTime" name="updateTime" class="form-control" type="text">
            </div>
        </div>
    </div> -->
			<div class="row">
				<div class="col-sm-offset-5 col-sm-10">
					<button type="button" class="btn btn-sm btn-primary"
						onclick="submitHandler()">
						<i class="fa fa-check"></i>保 存
					</button>
					&nbsp;
					<button type="button" class="btn btn-sm btn-danger"
						onclick="closeItem()">
						<i class="fa fa-reply-all"></i>关 闭
					</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "bridge/bridgeSampleRequire"
		/* $("#form-bridgeSampleRequire-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		}); */

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.saveTab(prefix + "/add", $(
						'#form-bridgeSampleRequire-add').serialize());
			}
		}
		/*选择样品*/
		var oid = '';
		var oname = '';
		function selectSample(id, name) {
			oid = id;
			oname = name;
			var options = {
				title : '选择检测项目',
				width : "1200",
				url : ctx + "bridge/bridgeSample",
				callBack : doSubmit
			};
			$.modal.openOptions(options);
		}
		function doSubmit(index, layero) {
			var iframeWin = layero.find('iframe')[0];
			var result = iframeWin.contentWindow.submitHandlerSelect();
			var data = result;
			if (data) {
				$('#' + oid).val(data.id);
				$('#' + oname).val(data.name);
			} else {
				return;
			}
		}
		/*用户列表*/
		var mid = '';
		var mname = ''
		function selectUserById(id, name) {
			mid = id;
			mname = name;
			var options = {
				title : '选择用户',
				width : "1200",
				url : ctx + "oa/oaApplyTemplate/selectUser",
				callBack : doSubmit1
			};
			$.modal.openOptions(options);
		}
		function doSubmit1(index, layero) {
			var iframeWin = layero.find('iframe')[0];
			var result = iframeWin.contentWindow.submitHandler();
			var data = result.data;
			if (data) {
			$('#' + mname).val(data.userName);
			$('#' + mid).val(data.userId);
			}else{
				return;
			}

		}
	</script>
</body>
</html>
