<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<th:block th:include="include :: header('在线预览')" />
<title>[[${map.fileName}]]</title>
</head>
<body class="gray-bg">

	<div id="filePreviewId"></div>
	
	<div th:include="include::footer"></div>	
	<script th:inline="javascript">
		$(function(){
			var failMsg = [[${map.failMsg}]];
			if($.common.isEmpty(failMsg)){
				var fileUrl = [[${map.fileUrl}]];
				$('<embed allowFullScreen="true" id="embedid"  width="1200" height="800" src="'+fileUrl+'"></embed>').appendTo('#filePreviewId');
			}else{
				$.modal.alertWarning(failMsg);
			} 
		});
	</script>
</body>
</html>