<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('销项发票列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><input type="hidden" id="companyId" name="companyId"/>
								<input type="text" id="companyName"
									   onclick="selectDeptTree('companyId','companyName','0')" placeholder="申请公司"/>
							</li>
							<li>
								<input type="text" name="proposerName" placeholder="申请人"/>
							</li>
							<li>
								<input type="text" name="projectName" placeholder="项目名称"/>
							</li>
							<li>
								<select name="billType" th:with="type=${@dict.getType('sys_pro_invoice_type')}">
									<option value="">开票类型</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<select name="billStatus" th:with="type=${@dict.getType('sys_pro_invoice_bill_status')}">
									<option value="">单据状态</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="oa:sysProInvoice:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="oa:sysProInvoice:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="oa:sysProInvoice:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="oa:sysProInvoice:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('oa:sysProInvoice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('oa:sysProInvoice:remove')}]];
        var prefix = ctx + "oa/sysProInvoice";
		var applyState=[[${@dict.getType('oa_leave_status')}]];
		var billState=[[${@dict.getType('oa_invoice_status')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add/"+[[${flag}]],
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "销项发票",
		        showExport: true,
                columns: [{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					title : '序号',
					formatter: function (value, row, index) {
						return $.table.serialNumber(index);
					}
				},
				{
					field:'code',
					title:'编号',
					sortable:true
				},
				{
					field : 'projectName',
					title : '项目名称',
					sortable: true
				},
				{
					field : 'proposerName',
					title : '申请人',
					sortable: true
				},
				{
					field : 'deptName',
					title : '部门',
					sortable: true
				},
				{
					field : 'applyDate', 
					title : '申请日期',
					sortable: true
				},
				{
					field : 'billAmount', 
					title : '开票金额',
					sortable: true
				},
					{
						field: 'billStatus',
						title: '单据状态',
						sortable: true,
						formatter: function (value, row, index) {
							return $.table.selectDictLabel(billState, value);
						}
					},
				{
					field : 'status', 
					title : '审批状态',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(applyState, value);
					}
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
						var actions = [];
						var text='查看详情';
						var edit='';
						var classN='btn-info';
						if(row.status=='3'||row.status=='99'||row.status=='2'){
							edit=editFlag
							text='编辑'
							classN='btn-success'
						}
						actions.push('<a class="btn '+classN+' btn-xs ' + edit + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>'+text+'</a>  ');
		            	if( row.hasDetail ){
							actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="openCancelBillTab(\'' + row.id + '\')"><i class="fa fa-remove"></i>作废</a>  ');
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="openRedInkBillTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>红字</a>  ');
						}
						if(row.status=='0'){
							actions.push('<a class="btn btn-warning btn-xs " href="#" onclick="withdrawTask(\'' + row.procInstId + '\')"><i class="fa fa-backward"></i> 撤回</a>');
						}
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        function openCancelBillTab(id) {
			$.modal.openTab("作废",prefix + "/cancelBill/"+id);
		}
		
		function openRedInkBillTab(id) {
			$.modal.openTab("红字",prefix + "/redInkBill/"+id);
		}
    </script>
</body>
</html>