<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('项目概况')"/>
    <style>
        .ellipsis{
            overflow: hidden; width: 280px;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<hr>
<table class="table table-bordered" th:object="${ytProjectMain}">
    <caption>
        <strong>[[*{name}]]</strong>
    </caption>
    <tbody>
    <tr>
        <td class="active">项目名称</td>
        <td width="150px"><div class="ellipsis">[[*{name}]]</div></td>
        <td class="active">项目编号</td>
        <td>[[*{code}]]</td>
        <td class="active">招标信息</td>
        <td><a th:href="*{biddingInfoLinkLoc}">[[*{biddingInfoLinkLoc}]]</a></td>
    </tr>
    <tr>
        <td class="active">工程类型</td>
        <td><span  class="projectType"></span></td>
        <td class="active">建设单位</td>
        <td>[[*{constructionUnit}]]</td>
        <td class="active">代建单位</td>
        <td>[[*{replaceUnit}]]</td>
    </tr>
    <tr>
        <td class="active">建设地点</td>
        <td>[[*{constructionLoc}]]</td>
        <td class="active">项目规模</td>
        <td>[[*{projectScale}]]</td>
        <td class="active">招标工期</td>
        <td>[[*{biddingLimitDate}]]</td>
    </tr>
    <tr>
        <td class="active">投资总额(万元)</td>
        <td>[[*{investAmount}]]</td>
        <td class="active">招标设计费用(万元)</td>
        <td>[[*{biddingDesignCost}]]</td>
        <td class="active">招标内容</td>
        <td>[[*{biddingContent}]]</td>
    </tr>
    <tr>
        <td class="active">评标办法</td>
        <td>[[*{evaluationMethod}]]</td>
        <td class="active">资质要求</td>
        <td>[[*{qualificationRequirements}]]</td>
        <td class="active">业绩要求</td>
        <td>[[*{performanceRequirements}]]</td>
    </tr>
    <tr>
        <td class="active">投标保证金</td>
        <td>[[*{deposit}]]</td>
        <td class="active">投标文件递交时间</td>
        <td><span
                th:text="*{#dates.format(filesSubmitDate, 'yyyy-MM-dd')}"></span></td>
        <td class="active">保证金提交截止日期</td>
        <td><span
                th:text="*{#dates.format(depositSubmitDate, 'yyyy-MM-dd')}"></span></td>
    </tr>
    <tr>
        <td class="active">开标时间</td>
        <td><span
                th:text="*{#dates.format(biddingDate, 'yyyy-MM-dd')}"></span></td>
        <td class="active">开标地点</td>
        <td>[[*{biddingPlace}]]</td>
        <td class="active">开标方式</td>
        <td><span class="biddingWay"></span></td>
    </tr>
    <tr>
        <td class="active text-center" colspan="6">项目组人员要求</td>
    </tr>
    <tr>
        <td class="active">项目负责人要求</td>
        <td colspan="2">[[*{projectHeadmanRequirements}]]</td>
        <td class="active">其它人员要求</td>
        <td colspan="2">[[*{projectOthersRequirements}]]</td>

    </tr>
    <tr>
        <td class="active">陪标与否</td>
        <td colspan="2"><span class="accompany"></span></td>
        <td class="active">投标类型</td>
        <td colspan="2"><span class="bidType"></span></td>

    </tr>

    </tbody>
</table>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    //工程类型
    var options1={
        className:'projectType',
        dict:[[${@dict.getType("yt_project_type")}]],
        value:[[${ytProjectMain.projectType}]]
    };
    $.common.dictV(options1);
    //开标方式
    var options2={
        className:'biddingWay',
        dict:[[${@dict.getType("bidding_way")}]],
        value:[[${ytProjectMain.biddingWay}]]
    };
    $.common.dictV(options2);
    //陪标与否
    var options3={
        className:'accompany',
        dict:[[${@dict.getType("sys_yes_no")}]],
        value:[[${ytProjectMain.accompany}]]
    };
    $.common.dictV(options3);
    //投标类型
    var options4={
        className:'bidType',
        dict:[[${@dict.getType("yt_bid_type")}]],
        value:[[${ytProjectMain.bidType}]]
    };
    $.common.dictV(options4);

</script>
</body>
</html>