<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('新增供应商')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-sysSupplier-add">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">供应商名称：</label>
					<div class="col-sm-8">
						<input id="name" name="name" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">类别：</label>
					<div class="col-sm-8">
						<select id="type" name="type" class="form-control"
							th:with="type=${@dict.getType('oa_Supplier_type')}">
							<option value="">--请选择--</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
								th:value="${dict.dictValue}"></option>
						</select>
						<!-- <input id="type" name="type" class="form-control" type="text"> -->
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">联系地址：</label>
					<div class="col-sm-8">
						<input id="address" name="address" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">联系人姓名：</label>
					<div class="col-sm-8">
						<input id="contactName" name="contactName" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">联系人电话：</label>
					<div class="col-sm-8">
						<input id="contactPhone" name="contactPhone" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">列为合格年度：</label>
					<div class="col-sm-8">
						<input id="qualifiedYear" name="qualifiedYear"
							class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">供应品：</label>
					<div class="col-sm-8">
						<input id="product" name="product" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">邮箱：</label>
					<div class="col-sm-8">
						<input id="email" name="email" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">邮政编码：</label>
					<div class="col-sm-8">
						<input id="postalCode" name="postalCode" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">备注：</label>
					<div class="col-sm-8">
						<input id="remark" name="remark" class="form-control" type="text">
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">创建时间：</label>
					<div class="col-sm-8">
						<input id="createTime" name="createTime" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">创建者：</label>
					<div class="col-sm-8">
						<input id="createBy" name="createBy" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">更新时间：</label>
					<div class="col-sm-8">
						<input id="updateTime" name="updateTime" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">更改者：</label>
					<div class="col-sm-8">
						<input id="updateBy" name="updateBy" class="form-control"
							type="text">
					</div>
				</div>
			</div> -->
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "system/sysSupplier"
		$("#form-sysSupplier-add").validate({
			rules:{
				contactPhone:{//联系人电话
					isPhone:true					
				},
				email:{
					email:true
				}
			},
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/add", $('#form-sysSupplier-add')
						.serialize());
			}
		}
	</script>
</body>
</html>
