<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增付款申请')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <style>
        table td {
            position: relative
        }

        .fixed-table-toolbar .bs-bars {
            display: none !important;
        }

        .fixed-table-body {
            border-bottom: 1px solid #ddd
        }

        .deleteProject {
            width: 50px;
            height: 32px;
            line-height: 33px;
            background-color: #ed5565;
            text-align: center;
            border-radius: 3px;
            color: white;
            font-size: 15px;
            position: absolute;
            top: 8px;
            right: 10px;
            box-shadow: 1px 1px 3px #888888;
            z-index: 5;
            cursor: pointer;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form id="form-oaPayment-add">
                        <table class="table table-bordered table-condensed table-bot">
                            <caption class="text-center">
                                <h2>付款单</h2>
                            </caption>
                            <tbody>
                            <tr>
                                <td class="active">编号：</td>
                                <td><input class="form-control" type="text" name="code" disabled="disabled"/></td>
                                <td class="active">所属公司：</td>
                                <td><input type="hidden" name="companyId" id="companyId"
                                           th:value="${company.deptId}"/>
                                    <input type="text" name="companyName" id="companyName" class="form-control"
                                           onclick="selectDeptTree('companyId','companyName','0')"
                                           th:value="${company.deptName}"/>
                                </td>

                            </tr>
                            <tr>
                                <td class="active">申请人：</td>
                                <td><input class="form-control" type="text" readonly
                                           th:value="${user.userName}"/></td>
                                <td class="active">申请部门：</td>
                                <td><input id="treeId" name="deptId" class="form-control"
                                           type="hidden" th:value="${user.dept.deptId}"> <input
                                        id="treeName" name="deptName" class="form-control"
                                        type="text" onclick="selectDeptTree('treeId','treeName','1')"
                                        th:value="${user.dept.deptName}"></td>
                            </tr>
                            <tr>
                                <td class="active"><span style="color: red;" th:if="${flag=='sys'}">*</span>项目名称：</td>
                                <td >
                                    <input id="projectId" class="form-control" name="projectId" type="hidden">
                                    <input id="projectName" class="form-control" name="projectName" type="text"
                                           onclick="selectPro()">
                                    <div class="deleteProject hide" onclick="deleteProject()">清除</div>
                                </td>
                                <td class="active">关联投标公告：</td>
                                <td >
                                    <input class="form-control" id="tenderNoticeId" name="tenderNoticeId" th:value="${tenderNoticeId}" type="hidden" readonly >
                                    <input class="form-control" id="tenderNoticeProjectName" name="tenderNoticeProjectName" th:value="${tenderNoticeProjectName}" type="text" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">申请日期：</td>
                                <td><input id="applyDate" name="applyDate"
                                           class="form-control currentTime" type="text" readonly></td>
                                <td class="active">支付日期：</td>
                                <td><input id="payDate" name="payDate"
                                           class="form-control currentTime time-input" type="text"></td>
                            </tr>
                            <tr>
                                <td class="active">付款金额：</td>
                                <td><input type="number" class="form-control"
                                           name="money" id="money" value="0" readonly/></td>
                                <td class="active">金额大写：</td>
                                <td><input id="moneyUpcase"
                                           name="moneyUpcase" class="form-control" type="text"></td>
                            </tr>
                            <tr>
                                <td class="active">付款方：</td>
                                <td><input id="drawee"
                                           name="drawee" class="form-control" type="text"></td>
                                <td class="active payment-type">付款方式：</td>
                                <td class="payment-type">
                                    <select name="payType" id="oaPayType" class="form-control"
                                            th:with="type=${@dict.getType('oa_payment_type')}">
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>

                                </td>
                                <td class="active project-type hide"><span style="color: red;">*</span>付款类型</td>
                                <td class="project-type hide">
                                    <select name="payType" id="sysPayType" class="form-control"
                                            th:with="type=${@dict.getType('sys_pro_pay_type')}" disabled>
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">到账截止日期：</td>
                                <td><input id="expirationDate"
                                           name="expirationDate" class="form-control time-input"
                                           type="text"></td>
                                <td class="active">是否代收代付：</td>
                                <td>
                                    <select name="isAgent" class="form-control"
                                            th:with="type=${@dict.getType('sys_yes_no')}">
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td class="active">关联收款：</td>
                                <td><input id="receivablesId"
                                           name="receivablesId" class="form-control" type="hidden">
                                    <input id="receivablesName"
                                           name="receivablesName" class="form-control" type="text"
                                           onclick="selectReci()">
                                </td>
                                <td class="active">是否委托关联公司代付：</td>
                                <td>
                                    <select name="companyPay" class="form-control"
                                            th:with="type=${@dict.getType('sys_yes_no')}">
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td class="active">附件：</td>
                                <td colspan="3">
                                    <div class="file-loading">
                                        <input id="uploadFileId" type="file" multiple>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </form>
                    <!-- 付款明细 -->
                    <div class="btn-group-sm" id="toolbar-detail" role="group">
                        <br>
                        <a class="btn btn-success" id="addCon"> <i class="fa fa-plus"></i>
                            付款明细
                        </a>
                    </div>
                    <div class=" select-table table-striped">
                        <table class="table table-bordered table-bot" id="detailTable">

                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10">
                            <br>
                            <button type="button" class="btn btn-sm btn-info"
                                    onclick="saveDraft()">
                                <i class="fa fa-check"></i>保存草稿
                            </button>
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="submitHandler()">
                                <i class="fa fa-check"></i>提交
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关 闭
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- 弹出框 -->
<div class="modal inmodal fade" id="myModal5" role="dialog"
     aria-hidden="true">
    <input id="myModal5Value" type="hidden">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body ">

                <form class="form-horizontal m" id="form-Condition-add">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">付款事由：</label>
                                <div class="col-sm-8">
                                    <input name="paymentReason" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">付款金额：</label>
                                <div class="col-sm-8">
                                    <input name="money" id="money2" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 payment-type">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">付款类型：</label>
                                <div class="col-sm-8">
                                    <input id="payType" name="payType" type="hidden">
                                    <input id="payTypeName" name="payTypeName" class="form-control" type="text"
                                           onclick="selectPayType()">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 project-type hide">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>工程大类：</label>
                                <div class="col-sm-8">
                                    <select id="proCategory" required="required" name="proCategory" class="form-control"
                                            th:with="type=${@dict.getType('sys_payment_big_type')}">
                                        <option value="">------所有------</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 project-type hide">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>工程小类：</label>
                                <div class="col-sm-8">
                                    <select id="detailCategory" required="required" name="detailCategory"
                                            class="form-control">
                                        <option value="">------所有------</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">收款人：</label>
                                <div class="col-sm-8" th:with="payeeDataList=${@dict.getType('oa_payment_link')}">
                                    <input id="payee" name="payee" class="form-control" type="text" list="payeeList">
                                    <datalist id="payeeList">
                                        <option th:each="item : ${payeeDataList}" th:text="${item.dictLabel}"
                                                th:data-value="${item.dictValue}">
                                        </option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">收款人账号：</label>
                                <div class="col-sm-8">
                                    <input id="payeeAccount" name="payeeAccount" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">收款人开户行：</label>
                                <div class="col-sm-8">
                                    <input id="payeeOpenBank" name="payeeOpenBank"
                                           class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">关联发票：</label>
                                <div class="col-sm-8">
                                    <select name="relationBillType" class="form-control"
                                            onchange="linkBillChange(this.value)" required="required"
                                            th:with="type=${@dict.getType('oa_payment_link')}">
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 billLink hide">
                            <div class="form-group ">
                                <label class="col-sm-4 control-label">欠票金额：</label>
                                <div class="col-sm-8">
                                    <input name="oweBillMoney" class="form-control" type="number">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 billLink hide">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">收票截止日期：</label>
                                <div class="col-sm-8">
                                    <input name="billExpirationDate" class="form-control time-input" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 billLink1 hide">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">发票：</label>
                                <div class="col-sm-8">
                                    <input name="relationBill" id="relationBill" class="form-control " type="hidden">
                                    <input name="relationBillName" id="relationBillName" class="form-control "
                                           type="text" onclick="selectBill()">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">关联合同：</label>
                                <div class="col-sm-8">
                                    <select name="relationContractType" class="form-control"
                                            onchange="linkContractChange(this.value)" required="required"
                                            th:with="type=${@dict.getType('oa_payment_linkC')}">
                                        <option value="">--请选择--</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6  cLink hide">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">欠合同金额：</label>
                                <div class="col-sm-8">
                                    <input name="oweContractMoney" class="form-control" type="number">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6  cLink hide">
                            <div class="form-group ">
                                <label class="col-sm-4 control-label">补合同截止日期：</label>
                                <div class="col-sm-8">
                                    <input name="contractExpirationDate" class="form-control time-input" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6  cLink1 hide">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">合同：</label>
                                <div class="col-sm-8">
                                    <input name="relationContract" id="relationContract" class="form-control "
                                           type="hidden">
                                    <input name="relationContractName" id="relationContractName" class="form-control "
                                           type="text" onclick="selectCon()">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="insertCondition">保存
                </button>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script src="/ajax/libs/suggest/bootstrap-suggest.min.js"></script>
<script src="/ajax/libs/typeahead/bootstrap3-typeahead.min.js"></script>
<script th:inline="javascript">
    var prefix = ctx + "oa/oaPayment";
    console.log([[${tenderNoticeId}]])
    console.log([[${tenderNoticeProjectName}]])
    $("#form-oaPayment-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    $("#form-Condition-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });


    var bigTpye = [[${@dict.getType('sys_payment_big_type')}]];

    var smallTpye1 = [[${@dict.getType('sys_payment_small_type1')}]];
    var smallTpye2 = [[${@dict.getType('sys_payment_small_type2')}]];
    var smallTpye3 = [[${@dict.getType('sys_payment_small_type3')}]];
    var smallTpye4 = [[${@dict.getType('sys_payment_small_type4')}]];
    var smallTpye5 = [[${@dict.getType('sys_payment_small_type5')}]];

    //选择大类
    $('#proCategory').change(function () {
        var number = $(this).val();
        var html = '';
        if (number === '0') {
            for (var i = 0; i < smallTpye1.length; i++) {
                html += '<option value="' + smallTpye1[i].dictLabel + '">' + smallTpye1[i].dictLabel + '</option>'
            }
            $('#detailCategory').html(html)
        } else if (number === '1') {
            for (var i = 0; i < smallTpye2.length; i++) {
                html += '<option value="' + smallTpye2[i].dictLabel + '">' + smallTpye2[i].dictLabel + '</option>'
            }
            $('#detailCategory').html(html)
        } else if (number === '2') {
            for (var i = 0; i < smallTpye2.length; i++) {
                html += '<option value="' + smallTpye3[i].dictLabel + '">' + smallTpye3[i].dictLabel + '</option>'
            }
            $('#detailCategory').html(html)
        } else if (number === '3') {
            for (var i = 0; i < smallTpye4.length; i++) {
                html += '<option value="' + smallTpye4[i].dictLabel + '">' + smallTpye4[i].dictLabel + '</option>'
            }
            $('#detailCategory').html(html)
        } else if (number === '4') {
            for (var i = 0; i < smallTpye5.length; i++) {
                html += '<option value="' + smallTpye5[i].dictLabel + '">' + smallTpye5[i].dictLabel + '</option>'
            }
            $('#detailCategory').html(html)
        } else {
            html += '<option value="">------所有------</option>'
            $('#detailCategory').html(html)
        }
    });
    //上传附件
    var attachmentList = new Array();
    var option = {
        id: 'uploadFileId',
        uploadUrl: null,
        deleteUrl: null,
        deleteExtraData: null,
        imgsUrl: new Array(),
        initialPreviewConfig: null,
        showPreview: true
    }
    $.common.uploadFile(option);
    downFile();

    //选择付款类型
    var tId = null;
    var tName = null

    function selectType(id, name) {
        tId = id;
        tName = name;
        var options = {
            title: '选择付款类型 ',
            width: "800",
            url: ctx + "system/dict/detail/" + 132,
            callBack: doSubmit1
        };
        $.modal.openOptions(options);
    }

    function doSubmit1(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        $('#' + tId).val(data.dictValue)
        $('#' + tName).val(data.dictLabel)

    }

    //关联工程
    //关联 弹框
    function selectPro() {
        var options = {
            title: '工程',
            width: "1200",
            url: ctx + 'oa/oaProject',
            callBack: doSubmit2
        };
        $.modal.openOptions(options);
    }

    ////工程
    function doSubmit2(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        $('#projectId').val(data.id);
        $('#projectName').val(data.projectName);
        $('.project-type').removeClass('hide');
        $('.payment-type').addClass('hide');
        $('.deleteProject').removeClass('hide');
        removeRowAll('detailTable');
        $('#oaPayType').attr("disabled", "disabled");
        $('#sysPayType').removeAttr("disabled");
        $('#sysPayType').attr("required", "true");

    }

    //关联其他项目
    function selectRelPro() {
        var companyId = $('#companyId').val();
        var options = {
            title: '工程',
            width: "1200",
            url: ctx + 'oa/oaProject/otherProjectList/'+companyId,
            callBack: doSubmit22
        };
        $.modal.openOptions(options);
    }

    function doSubmit22(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        console.log(data.relProjectId);
        $('#otherProjectId').val(data.relProjectId);
        $('#otherProjectName').val(data.relProjectName);
    }
    //关联收款
    //关联 弹框
    function selectReci() {
        var options = {
            title: '收款单',
            width: "1200",
            url: ctx + 'oa/oaReceivables',
            callBack: doSubmit3
        };
        $.modal.openOptions(options);
    }

    ////收款
    function doSubmit3(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        $('#receivablesId').val(data.id)
        $('#receivablesName').val(data.code)

    }

    //关联发票
    //关联 弹框
    function selectBill() {
        var options = {
            title: '成本票',
            width: "1200",
            url: ctx + 'oa/sysProCostBill',
            callBack: doSubmit4
        };
        $.modal.openOptions(options);
    }

    ////成本票
    function doSubmit4(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        console.log(data)
        var text = []
        var code = []
        for (var i = 0; i < data.length; i++) {
            text.push(data[i].id)
            code.push(data[i].code)
        }
        $('#relationBill').val(text + '')
        $('#relationBillName').val(code + '')

    }

    //关联合同
    //关联 弹框
    function selectCon() {
        var options = {
            title: '合同',
            width: "1200",
            url: ctx + 'oa/oaContract',
            callBack: doSubmit5
        };
        $.modal.openOptions(options);
    }

    ////合同
    function doSubmit5(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        $('#relationContract').val(data.id)
        $('#relationContractName').val(data.serialNum)

    }

    //下拉框选择--合同
    function linkContractChange(v) {
        if (v == '0') {
            $('.cLink').removeClass('hide')
            $('.cLink1').addClass('hide')
        } else if (v == '2') {
            $('.cLink1').removeClass('hide')
            $('.cLink').addClass('hide')
            $('.cLink').find('input').val('')
        } else {
            $('.cLink').addClass('hide')
            $('.cLink1').addClass('hide')
            $('.cLink').find('input').val('')
            $('.cLink1').find('input').val('')
        }
    }

    //下拉框选择--发票
    function linkBillChange(v) {

        if (v == '0') {
            $('.billLink').removeClass('hide')
        } else if (v == '2') {
            $('.billLink1').removeClass('hide')
            $('.billLink').addClass('hide')
            $('.billLink').find('input').val('')
        } else {
            $('.billLink').addClass('hide')
            $('.billLink').find('input').val('')
            $('.billLink1').addClass('hide')
            $('.billLink1').find('input').val('')
        }
    }


    //选择报销类型
    function selectPayType() {
        var options = {
            title: '选择付款类型 ',
            width: "800",
            url: ctx + "system/dict/detail/" + 132,
            callBack: doSubmit7
        };
        $.modal.openOptions(options);
    }

    function doSubmit7(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result;
        console.log(data);
        $('#payType').val(data.dictValue)
        $('#payTypeName').val(data.dictLabel)

    }

    /*新增行*/
    var idxId = 1;

    function insertRow(data, id, editId) {
        var randomId = 100 + ~~(Math.random() * 100);
        var table_row = '';
        table_row = data
        table_row[0] = false;

        if (editId != null) {
            table_row.id = randomId
            $("#" + id).bootstrapTable('updateRow', {
                index: editId, // 你想修改哪行，0表示第一行
                row: table_row
            })

        } else {
            table_row.id = randomId
            $("#" + id).bootstrapTable('insertRow', {
                index: 0, // 你想插入到哪，0表示第一行
                row: table_row
            })
        }

    }

    //修改行
    function editRow(id, rowId, rowIndex) {
        var da = $('#' + id).bootstrapTable('getRowByUniqueId', rowId);
        $('#myModal5Value').val(rowIndex);
        $('#myModal5').modal('show');
        $('#form-Condition-add').loadData(da)
        var money = parseFloat($('#money').val());
        $('#money').val((money - parseFloat($('#money2').val())).toFixed(2));
        linkContractChange(da.relationContractType)
        linkBillChange(da.relationBillType)
    }

    //展示字典
    function dictLabel(dict, value) {
        var label = null
        for (var i = 0; i < dict.length; i++) {
            if (dict[i].dictValue == value) {
                label = dict[i].dictLabel
            }
        }
        return label
    }

    //判断是否已经添加
    function isHas(data, id) {
        var isTF = false;
        for (var i = 0; i < data.length; i++) {
            if (data[i].id == id) {
                isTF = true;
            }
        }
        return isTF;
    }

    /* 删除指定表格行 */
    function removeRow(id, rowId) {
        var da = $('#' + id).bootstrapTable('getRowByUniqueId', rowId);
        var money = parseFloat($('#money').val());
        $('#money').val((money - parseFloat(da.money)).toFixed(2));
        $("#" + id).bootstrapTable('removeByUniqueId', rowId)


    }

    /* 删除所有表格行 */
    function removeRowAll(id) {
        $("#" + id).bootstrapTable('removeAll')
        $('#money').val(0);
        idxx = 0;
    }

    //保存数据
    function savaData() {
        var data = {}
        data.oaPayment = $('#form-oaPayment-add').serializeObject();
        data.attachmentList = attachmentList;
        data.detailList = $('#detailTable').bootstrapTable('getData')
        return data;
    }

    //提交
    function submitHandler() {
        if ($.validate.form()) {
            var data = savaData();
            $.operate.saveJsonTab(prefix + "/add", data);
        }
    }

    //保存草稿
    function saveDraft() {
        var data = savaData();
        $.operate.saveJsonTab(prefix + "/saveDraft", data);
    }

    //明细表格
    var payType = [[${@dict.getType('oa_reimbursement_type')}]];
    var options1 = {
        id: 'detailTable',
        clickToSelect: true,
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        showPageGo: false,
        pagination: false,
        uniqueId: 'id',
        modalName: "明细",
        showExport: false,
        columns: [{
            radio: true,
            visible: false
        },
            {
                field: 'id',
                title: 'id',
                visible: false
            },
            {
                field: 'paymentReason',
                title: '付款事由'
            },
            {
                field: 'money',
                title: '付款金额'
            },
            {
                field: 'payType',
                title: '付款类型',
                formatter: function (value, row, index) {
                    return $.table.selectDictLabel(payType, value);
                }
            },
            {
                field: 'proCategory',
                title: '工程大类',
                formatter: function (value, row, index) {
                    return $.table.selectDictLabel(bigTpye, value);
                }
            },
            {
                field: 'detailCategory',
                title: '工程小类'
            },
            {
                field: 'payee',
                title: '收款人'
            },
            {
                field: 'payeeAccount',
                title: '收款人账号'
            },
            {
                field: 'payeeOpenBank',
                title: '收款人开户行'
            },
            {
                title: '操作',
                formatter: function (value, row, index) {
                    var action = []
                    action.push('<a onclick="removeRow(\'detailTable\',\'' + row.id + '\')">删除</a>  ')
                    action.push('<a onclick="editRow(\'detailTable\',\'' + row.id + '\',\'' + index + '\')">编辑</a>')
                    return action.join('')
                }
            }]

    };
    var payerList = [];
    $(function () {
        $.table.init(options1);
        //点击弹框

        $('#addCon').click(function () {
            $.form.reset('form-Condition-add');//清空原有数据
            $('#payType').val('');
            $('#proCategory').val('');
            $('#detailCategory').val('');
            $('#myModal5Value').val('00');
            $('#myModal5').modal('show');
        });
        $('#insertCondition').click(function () {
            if ($.validate.form('form-Condition-add')) {
                var indexV = $('#myModal5Value').val()
                var formData = $('#form-Condition-add').serializeObject();
                var money = parseFloat($('#money').val());
                $('#money').val((money + parseFloat($('#money2').val())).toFixed(2));
                if (indexV == '00') {
                    insertRow(formData, 'detailTable', null)
                } else {
                    insertRow(formData, 'detailTable', indexV)

                }
                var a = parseFloat($('#money').val());
                var config = {
                    url: ctx + "common/converMoneyToCN/" + a,
                    type: "get",
                    dataType: "json",
                    success: function (result) {
                        if (result.code == '0') {
                            $("#moneyUpcase").val(result.msg)
                        }
                    }
                };
                $.ajax(config)
                var data = {};
                data.payee = $('#payee').val();
                data.account = $('#payeeAccount').val();
                data.openingBank = $('#payeeOpenBank').val();
                data.isNew = 1;
                $.operate.saveModal(ctx + 'oa/oaPayeeAccountInformation/add', data)
                $('#myModal5').modal("hide");
            }
        });

        $('#payee').bind('input propertychange', function () {
            payee = $(this).val()
            var config = {
                url: ctx + 'oa/oaPayeeAccountInformation/list',
                type: 'post',
                dataType: 'json',
                data: {'payee': payee},
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function (result) {
                    $.modal.closeLoading();
                    var html = ""
                    for (var i = 0; i < result.length; i++) {
                        html += "<option data-value=" + result[i].id + "> " + result[i].payee + "</option>"
                        if ($('#payee').val() == result[i].payee) {
                            payerList = result[i]
                            $('#payeeAccount').val(result[i].account)
                            $('#payeeOpenBank').val(result[i].openingBank)
                        }
                    }
                    $('#payeeList').html(html)

                }
            };
            $.ajax(config)
        })
    })
    //自动大小写转换
    coverUpper('money', 'moneyUpcase')

    //清除已选项目
    function deleteProject() {
        $('#projectId').val('');
        $('#projectName').val('');
        $('.project-type').addClass('hide');
        $('.payment-type').removeClass('hide');
        $('.deleteProject').addClass('hide');
        removeRowAll('detailTable');
        $('#sysPayType').attr("disabled", "disabled");
        $('#oaPayType').removeAttr("disabled");
        $('#sysPayType').removeAttr("required");

    }

    if ([[${flag}]] == 'sys') {
        $('#projectId').attr("required", "true");
        $('#projectName').attr("required", "true");
    }

</script>
</body>
</html>
