<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: select2-css" />
	<th:block th:include="include :: header('不同意原因')" />
</head>
<body>
    <div class="form-content">
        <form class="form-horizontal m" id="form-oa-disagree">
        <input id="taskId" name="taskId" th:value="${taskId}"  type="hidden">
        <input id="urlId" name="url" th:value="${url}"  type="hidden">
        	<div class="form-group">	
				<label class="col-sm-11 control-label" style="text-align: center;">备注：</label>
			</div>
        	<div class="form-group">	
				<div class="col-sm-11">
					<textarea id="opinion" name="opinion" class="form-control" required="required">同意</textarea>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script th:inline="javascript">
		$("#form-oaLeave-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.modal.loading("正在处理中，请稍后...");
	        	 $.ajax({
	        		type : "post",
					 url : ctx+[[${url}]],
	        		dataType : "json",
	        		data:{
	        				"opinion":$("#opinion").val(),
							"isLeaderPass":"Y",
							"taskId":$("#taskId").val(),
							"tableName" : [[${tableName}]],
							"id" : [[${id}]]
						},
	        		success : function(res){
						var topWindow = $(window.parent.parent.document);
						var currentId = $('.page-tabs-content', topWindow).find('.active').attr('data-panel');
						var $contentWindow = $('.RuoYi_iframe[data-id="' + currentId + '"]', topWindow)[0].contentWindow;
						$.modal.close();
						$contentWindow.$.modal.msgSuccess(res.msg);
						$contentWindow.$(".layui-layer-padding").removeAttr("style");
						if ($contentWindow.$.table._option.type == table_type.bootstrapTable) {
							$contentWindow.$.table.refresh();
						} else if ($contentWindow.$.table._option.type == table_type.bootstrapTreeTable) {
							$contentWindow.$.treeTable.refresh();
						}
						var panelUrl = window.frameElement.getAttribute('data-panel');
						$('.page-tabs-content .active i', topWindow).click();
						if($.common.isNotEmpty(panelUrl)){
							$('.menuTab[data-id="' + panelUrl + '"]', topWindow).addClass('active').siblings('.menuTab').removeClass('active');
							$('.mainContent .RuoYi_iframe', topWindow).each(function() {
								if ($(this).data('id') == panelUrl) {
									$(this).show().siblings('.RuoYi_iframe').hide();
									return false;
								}
							});
						}
	        		}
	        	}); 
	        }
	    }
		
	</script>
</body>
</html>
