<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('还证申请审批')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <style>
        .add_btn_mt {
            margin-top: 15px;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-oaPurchase-edit" th:object="${oaCertificatesBack}">
                        <input id="id" name="id" th:field="*{id}" type="hidden">
                        <input name="procInstId" type="hidden" id="procInstId" th:value="*{procInstId}"/>
                        <input id="taskId" name="taskId" th:value="${taskId}" type="hidden">
                        <table class="table table-bordered table-condensed">
                            <caption class="text-center">
                                <h2>还证申请</h2>
                            </caption>
                            <tbody>
                            <th colspan="4">
                                表单信息
                            </th>
                            <tr>
                                <td class="active" style="width: 15%">申请人</td>
                                <td style="width: 35%">[[${oaCertificatesBack.userName}]]</td>
                                <td class="active" style="width: 15%">申请公司</td>
                                <td>[[${oaCertificatesBack.applyCompanyName}]]</td>
                            </tr>
                            <tr>
                                <td class="active">归属部门</td>
                                <td>[[${oaCertificatesBack.applyDeptName}]]</td>
                                <td class="active">状态</td>
                                <td>
                                    <select name="status" class="form-control"
                                            th:with="type=${@dict.getType('oa_leave_status')}" th:field="*{status}"
                                            disabled="disabled">
                                        <option value="">所有</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">申请日期</td>
                                <td>[[${#dates.format(oaCertificatesBack.applyTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                                <td class="active">快递单号</td>
                                <td>[[${oaCertificatesBack.courierNumber}]]</td>
                            </tr>
                            <tr>
                                <td class="active">备注</td>
                                <td colspan="3">[[${oaCertificatesBack.remark}]]</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <h4>证件明细 &nbsp;&nbsp;</h4>
                            <div class="col-sm-12 select-table table-striped">
                                <table id="certificatesDetailed" data-mobile-responsive="true"></table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-10 add_btn_mt">
                                <button type="button" class="btn btn-sm btn-primary"
                                        onclick="agree()" th:if=" ${hisFlag} ne '1'">同意
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"
                                        onclick="disagree()" th:if=" ${hisFlag} ne '1'">不同意
                                </button>
                                <button type="button" class="btn btn-sm btn-success"
                                        th:onclick="selectUser('','','0',[[${oaCertificatesBack.id}]],'oa/oaCertificatesBack/copy','flag')">
                                    抄送
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"
                                        onclick="closeItem()">
                                    <i class="fa fa-reply-all"></i>关闭
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12 select-table table-striped">
                            <table id="bootstrap-table" data-mobile-responsive="true"></table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: lastNode"/>
<script th:inline="javascript">
    var prefix = ctx + "oa/oaCertificatesBack";
    var lastNodeId = [[${oaCertificatesBack.id}]];
    var actDefineId = [[${oaCertificatesBack.actDefineId}]];
    var lastStatus = [[${oaCertificatesBack.status}]];

    //同意
    function agree() {
        $.modal.open("同意备注", ctx + "oa/task/agree/" + $("#taskId").val() + "/110/oa_certificates_back/" + [[${oaCertificatesBack.id}]]);
    }

    //不同意
    function disagree() {
        $.modal.open("不同意原因", ctx + "oa/task/disagree/" + $("#taskId").val() + "/110/oa_certificates_back/" + [[${oaCertificatesBack.id}]]);
    }

    //返回
    function backAway() {
        $.modal.close();
        var parent = window.parent;
        parent.$.table.refresh();
    }

    //对应的明细信息
    $(function () {
        var sysCredentialsStatus = [[${@dict.getType('oa_sysCredentials_status')}]];
        var sysCredentialsType = [[${@dict.getType('oa_sysCredentials_type')}]];
        var sysYesNo = [[${@dict.getType('sys_yes_no')}]];
        var options = {
            id: 'certificatesDetailed',
            url: ctx + "oa/oaCertificatesDetail/selectDetailByMId/" + [[${oaCertificatesBack.id}]],
            modalName: "借证信息",
            showExport: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            showSearch: false,
            pagination: false,
            striped: true,
            columns: [{
                checkbox: false
            },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'name',
                    title: '证件名称',
                    sortable: true
                },
                {
                    field: 'code',
                    title: '证件编号',
                    sortable: true
                },
                {
                    field: 'owner',
                    title: '持证人id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'user.userName',
                    title: '持证人',
                    sortable: true
                },
                {
                    field: 'safeKeep',
                    title: '保管人id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'safeKeepName',
                    title: '保管人',
                    sortable: true
                },
                {
                    field: 'holdDate',
                    title: '发证日期',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'validity',
                    title: '有效期至',
                    sortable: true
                },
                {
                    field: 'deptId',
                    title: '当前所在公司id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'dept.deptName',
                    title: '当前所在公司',
                    sortable: true
                },
                {
                    field: 'status',
                    title: '状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sysCredentialsStatus, value);
                    }
                },
                {
                    field: 'type',
                    title: '证件类型',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sysCredentialsType, value);
                    }

                },
                {
                    field: 'canAppoint',
                    title: '可预约',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sysYesNo, value);
                    }
                },
                {
                    field: 'inCompany',
                    title: '在公司',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sysYesNo, value);
                    }
                },
                {
                    field: 'paySocial',
                    title: '缴纳社保',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sysYesNo, value);
                    }
                },
                {
                    field: 'scanCopy',
                    title: '有扫描件',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sysYesNo, value);
                    }
                },
                {
                    field: 'effect',
                    title: '有效',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sysYesNo, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'createBy',
                    title: '创建者',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'updateBy',
                    title: '修改者',
                    sortable: true,
                    visible: false
                }]
        };
        $.table.init(options);
    });
    //流程
    var data = {};
    data.procInstId = [[${oaCertificatesBack.procInstId}]];
    data.id = [[${oaCertificatesBack.id}]];
    selectActProcessList(data);
</script>
</body>
</html>
