<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('证件申请审批')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <style>
        .add_btn_mt {
            margin-top: 15px;
        }

        .table-condensed td {
            width: 35%;
        }
    </style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<!--抬头  -->
		<div class="hr-line-dashed"></div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="panel panel-default">
					<div class="panel-body ">
						<form class="form-horizontal m" id="form-oaPurchase-edit" th:object="${oaCertificatesBorrow}">
							<input id="id" name="id" th:field="*{id}" type="hidden">
							<input name="procInstId" type="hidden" id="procInstId" th:value="*{procInstId}" />
							<input id="taskId" name="taskId" th:value="${taskId}" type="hidden">
							<table class="table table-bordered table-condensed" >
								<caption class="text-center">
									<h2>借证申请</h2>
								</caption>
								<tbody>
								<th colspan="4">
									表单信息
								</th>
								<tr>
									<td class="active" style="width: 15%;">申请人</td>
									<td>[[${oaCertificatesBorrow.userName}]]</td>
									<td class="active" style="width: 15%;">申请公司</td>
									<td>[[${oaCertificatesBorrow.applyCompanyName}]]</td>
								</tr>
								<tr>
									<td class="active" style="width: 15%;">归属部门</td>
									<td>[[${oaCertificatesBorrow.applyDeptName}]]</td>
									<td class="active" style="width: 15%;">投标申请单</td>
									<td>[[${oaCertificatesBorrow.tenderName}]]</td>
								</tr>
								<tr>
									<td class="active" style="width: 15%;">所属项目</td>
									<td>[[${oaCertificatesBorrow.projectName}]]</td>
									<td class="active" style="width: 15%;">状态</td>
									<td>
										<select name="status" class="form-control" th:with="type=${@dict.getType('oa_leave_status')}" th:field="*{status}" disabled="disabled">
											<option value="">所有</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="active" style="width: 15%;">借证事由</td>
									<td>[[${oaCertificatesBorrow.borrowReason}]]</td>
									<td class="active" style="width: 15%;">创建日期</td>
									<td>[[${#dates.format(oaCertificatesBorrow.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
								</tr>
								<tr>
									<td class="active">借证数量</td>
									<td>[[${oaCertificatesBorrow.borrowCount}]]</td>
									<td class="active">还证数量</td>
									<td>[[${oaCertificatesBorrow.returnCount}]]</td>
								</tr>
								<tr>
									<td class="active" style="width: 15%;">备注</td>
									<td colspan="3">[[${oaCertificatesBorrow.remark}]]</td>
								</tr>
								</tbody>
							</table>
							<div class="col-sm-12 select-table table-striped">
								<div class="fixed-table-container">
									<table id="bootstrap-table1" data-mobile-responsive="true"></table>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-offset-5 col-sm-10 add_btn_mt">
									<button type="button" class="btn btn-sm btn-primary"
										onclick="agree()" th:if=" ${hisFlag} ne '1'">同意</button>
									<button type="button" class="btn btn-sm btn-danger"
										onclick="disagree()" th:if=" ${hisFlag} ne '1'">不同意</button>
									<button type="button" class="btn btn-sm btn-success"
										th:onclick="selectUser('','','0',[[${oaCertificatesBorrow.id}]],'oa/oaCertificatesBorrow/copy','flag')">
										抄送</button>
									<button type="button" class="btn btn-sm btn-danger"
										onclick="closeItem()">
										<i class="fa fa-reply-all"></i>关闭
									</button>
								</div>
							</div>
							<div class="col-sm-12 select-table table-striped">
								<table id="bootstrap-table" data-mobile-responsive="true"></table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
    <th:block th:include="include :: bootstrap-fileinput-js"/>
	<th:block th:include="include :: lastNode" />
	<script th:inline="javascript">
		var prefix = ctx + "oa/oaCertificatesBorrow";
		var lastNodeId=[[${oaCertificatesBorrow.id}]];
		var actDefineId=[[${oaCertificatesBorrow.actDefineId}]];
		var lastStatus=[[${oaCertificatesBorrow.status}]];
		var sysCredentialsStatus = [[${@dict.getType('oa_sysCredentials_status')}]];
		var sysCredentialsType = [[${@dict.getType('oa_sysCredentials_type')}]];
		var sysYesNo = [[${@dict.getType('sys_yes_no')}]];
		//相关部门申请表格
		var options1 = {
			id : "bootstrap-table1",
			url : ctx+"oa/oaCertificatesDetail/selectDetailByMId/"+[[${oaCertificatesBorrow.id}]],
			toolbar : "toolbar1",
			modalName : "证件明细",
			showSearch : false,
			showRefresh : false,
			showToggle : false,
			showColumns : false,
			showPageGo : true,
			pagination : false,
			uniqueId : "id",
			height : 300,
			clickToSelect : true,
			columns : [
				{
					radio: true
				},
				{
					field : 'id',
					title : '主键',
					visible: false
				},
				{
					field : 'name',
					title : '证件名称',
					sortable: true
				},
				{
					field : 'code',
					title : '证件编号',
					sortable: true
				},
				{
					field : 'deptId',
					title : '当前所在公司id',
					sortable: true,
					visible: false
				},
				{
					field : 'dept.deptName',
					title : '当前所在公司',
					sortable: true
				},
				{
					field : 'status',
					title : '状态',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysCredentialsStatus, value);
					}
				},
				{
					field : 'type',
					title : '证件类型',
					sortable: true,
					// formatter: function (value, row, index) {
					// 	return $.table.selectDictLabel(sysCredentialsType, value);
					// }

				},
				{
					field : 'canAppoint',
					title : '可预约',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'inCompany',
					title : '在公司',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'paySocial',
					title : '缴纳社保',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'scanCopy',
					title : '有扫描件',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'effect',
					title : '有效',
					sortable: true,
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(sysYesNo, value);
					}
				},
				{
					field : 'remark',
					title : '备注',
					sortable: true
				},
				{
					field : 'createTime',
					title : '创建时间',
					sortable: true,
					visible: false
				},
				{
					field : 'createBy',
					title : '创建者',
					sortable: true,
					visible: false
				},
				{
					field : 'updateTime',
					title : '修改时间',
					sortable: true,
					visible: false
				},
				{
					field : 'updateBy',
					title : '修改者',
					sortable: true,
					visible: false
				}]
		};

		$(function(){
			//初始化相关部门申请表格
			$.table.init(options1);
		});

		//同意
    	function agree(){
    		$.modal.open("同意备注", ctx+"oa/task/agree/"+$("#taskId").val()+"/100/oa_certificates_borrow/"+[[${oaCertificatesBorrow.id}]]);
    	}
		//不同意
	    function disagree(){
	    	$.modal.open("不同意原因", ctx+"oa/task/disagree/"+$("#taskId").val()+"/100/oa_certificates_borrow/"+[[${oaCertificatesBorrow.id}]]);
	    }
	    //返回
		function backAway(){
			$.modal.close();
			var parent = window.parent;
			parent.$.table.refresh();
		}
		//流程
		var data = {};
    	data.procInstId=[[${oaCertificatesBorrow.procInstId}]];
    	data.id = [[${oaCertificatesBorrow.id}]];
		selectActProcessList(data);
	</script>
</body>
</html>
