<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('会议申请审批')" />
<style>
.add_btn_mt {
	margin-top: 15px;
}
</style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">

		<!--抬头  -->
		<div class="hr-line-dashed"></div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="panel panel-default">
					<div class="panel-body ">
						<form class="form-horizontal m" id="form-oaPurchase-edit"
							th:object="${oaMeeting}">
							<input id="id" name="id" th:field="*{id}" type="hidden">
							<input id="taskId" name="taskId" th:value="${taskId}"
								type="hidden">
							<table class="table table-bordered table-condensed">
								<caption class="text-center">
									<h2>会议申请</h2>
								</caption>
								<tbody>
									<tr>
										<td class="active">申请人：</td>
										<td>[[*{userName}]]</td>
										<td class="active">所属公司：</td>
										<td>[[*{applyCompanyName}]]</td>
									</tr>
									<tr>
										<td class="active">申请部门：</td>
										<td>[[*{applyDeptName}]]</td>
										<td class="active">申请日期：</td>
										<td colspan="3">[[${#dates.format(oaMeeting.applyTime,
											'yyyy-MM-dd HH:mm:ss')}]]</td>
									</tr>
									<tr>
										<td class="active">会议开始时间：</td>
										<td>[[${#dates.format(oaMeeting.meetTimeStart,
											'yyyy-MM-dd HH:mm:ss')}]]</td>
										<td class="active">会议结束时间：</td>
										<td colspan="3">[[${#dates.format(oaMeeting.meetTimeEnd,
											'yyyy-MM-dd HH:mm:ss')}]]</td>
									</tr>
									<tr>
										<td class="active">会议地点：</td>
										<td><select name="meetArea" class="form-control"
											th:field="*{meetArea}"
											th:with="type=${@dict.getType('oa_meeting_site')}" disabled>
												<option value="">--请选择--</option>
												<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
													th:value="${dict.dictValue}"></option>
										</select></td>
										<td class="active">使用设备：</td>
										<td colspan="3"><select name="useMachine"
											class="form-control" th:field="*{useMachine}"
											th:with="type=${@dict.getType('oa_meeting_machine')}" disabled>
												<option value="">--请选择--</option>
												<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
													th:value="${dict.dictValue}"></option>
										</select></td>
									</tr>
									<tr>
										<td class="active">抄送人：</td>
										<td>[[*{copyPerson}]]</td>
										<td class="active">备注：</td>
										<td colspan="3">[[*{remark}]]</td>
									</tr>
									<tr>
										<td class="active">会议原因或内容：</td>
										<td colspan="3">[[*{reason}]]</td>
									</tr>
								</tbody>
							</table>
						</form>
						<h3>参会人员</h3>
						<div class="col-sm-12 select-table table-striped">
							<table id="bootstrap-table-person" data-mobile-responsive="true"></table>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-10 add_btn_mt">
				<button type="button" class="btn btn-sm btn-primary"
					onclick="agree()" th:if=" ${hisFlag} ne '1'">同意</button>
				<button type="button" class="btn btn-sm btn-danger"
					onclick="disagree()" th:if=" ${hisFlag} ne '1'">不同意</button>
				<button type="button" class="btn btn-sm btn-success"
						th:onclick="selectUser('','','0',[[${oaMeeting.id}]],'oa/oaMeeting/copy','flag')">
						抄送</button>
				<button type="button" class="btn btn-sm btn-danger"
					onclick="closeItem()">
					<i class="fa fa-reply-all"></i>关闭
				</button>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<th:block th:include="include :: lastNode" />
	<script th:inline="javascript">
		var prefix = ctx + "oa/oaMeeting";
		var lastNodeId=[[${oaMeeting.id}]];
		var actDefineId=[[${oaMeeting.actDefineId}]];
		var lastStatus=[[${oaMeeting.status}]];
		//流程
		var data = {};
    	data.procInstId=[[${oaMeeting.procInstId}]];
    	data.id = [[${oaMeeting.id}]];
		selectActProcessList(data);
		//同意
    	function agree(){
    		$.modal.open("同意备注", ctx+"oa/task/agree/"+$("#taskId").val()+"/250/oa_meeting/"+[[${oaMeeting.id}]]);
    	}
		//不同意
	    function disagree(){
	    	$.modal.open("不同意原因", ctx+"oa/task/disagree/"+$("#taskId").val()+"/250/oa_meeting/"+[[${oaMeeting.id}]]);
	    }
	    //返回
		function backAway(){
			$.modal.close();
			var parent = window.parent;
			parent.$.table.refresh();
		}
		//参会人员 
		$(function() {
			var options = {
				id : "bootstrap-table-person",
				url:ctx + "oa/oaMeetingPerson/list",
				modalName : "部门培训申请",
				uniqueId:'userId',
				showSearch : false,
				showRefresh : false,
				showToggle : false,
				showColumns : false,
				showPageGo : false,
				pagination : false,
				modalName : "学院培训",
				queryParams:{'meetingId':[[${oaMeeting.id}]]},
				showExport : false,
				toolbar : "toolbar",
				columns : [
						{
							checkbox : true
						},
						{
							field : 'userName',
							title : '学员姓名',
							sortable : true
						},
						{
							field : 'userId',
							title : '学员Id',
							sortable : true
						},
						{
							field : 'userPosition',
							title : '职位',
							sortable : true
						}]
			};
			$.table.init(options);
		});
	</script>
</body>
</html>
