<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('核销申请审批')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-oaPaymentOweBill-edit" th:object="${oaPaymentOweBill}">
                        <input id="id" name="id" th:field="*{id}" type="hidden">
                        <input id="taskId" name="taskId" th:value="${taskId}"
                               type="hidden">
                        <input id="proposer" name="proposer" th:field="*{proposer}" class="form-control" type="hidden">
                        <input id="projectId" name="projectId" th:field="*{projectId}" class="form-control"
                               type="hidden">
                        <input id="paymentDetailId" name="paymentDetailId" th:field="*{paymentDetailId}"
                               class="form-control"
                               type="hidden">
                        <input id="paymentId" name="paymentId" th:field="*{paymentId}" class="form-control"
                               type="hidden">
                        <input id="costBillId" name="costBillId" type="hidden">
                        <table class="table table-bordered table-condensed">
                            <caption class="text-center">
                                <h2>核销申请</h2>
                            </caption>
                            <tbody>
                            <th colspan="4">
                                表单信息
                            </th>
                            <tr>
                                <td class="active">支付单据编号</td>
                                <td>
                                    <input id="code" name="code" th:field="*{code}" class="form-control" type="text">
                                </td>
                                <td class="active">申请人</td>
                                <td>
                                    <input id="userName" name="proposer" th:field="*{userName}" class="form-control"
                                           type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">项目名称</td>
                                <td>
                                    <input id="projectName" name="projectName" th:field="*{projectName}"
                                           class="form-control"
                                           type="text">
                                </td>
                                <td class="active">收款人（开票方）</td>
                                <td>
                                    <input id="payee" name="payee" th:field="*{payee}"
                                           class="form-control"
                                           type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">收票方</td>
                                <td>
                                    <input id="drawee" name="drawee" th:field="*{drawee}" class="form-control"
                                           type="text">
                                </td>
                                <td class="active">金额</td>
                                <td>
                                    <input id="money" name="money" th:field="*{money}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">收票截止日期</td>
                                <td>
                                    <input id="billExpirationDate" name="billExpirationDate"
                                           th:value="${#dates.format(oaPaymentOweBill.billExpirationDate, 'yyyy-MM-dd HH:mm:ss')}"
                                           class="form-control time-input" type="text">
                                </td>
                                <td class="active">备注</td>
                                <td>
                                    <input id="remark" name="remark" th:field="*{remark}" class="form-control"
                                           type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">关联发票</td>
                                <td colspan="3">
                                    <input id="costBillName" name="costBillName" class="form-control"
                                           onclick="selectBill()"
                                           type="text">
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10 add_btn_mt">
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="agree()" th:if=" ${hisFlag} ne '1'">同意
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="disagree()" th:if=" ${hisFlag} ne '1'">不同意
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关闭
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="approveTaskId" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="include::footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "oa/oaPaymentOweBill";

        //同意
        function agree() {
            $.modal.open("同意备注", ctx + "oa/task/agree/" + $("#taskId").val() + "/390/" + [[${oaPaymentOweBill.id}]] + "/oa_payment_owe_bill");
        }

        //不同意
        function disagree() {
            $.modal.open("不同意原因", ctx + "oa/task/disagree/" + $("#taskId").val() + "/390/" + [[${oaPaymentOweBill.id}]] + "/oa_payment_owe_bill");
        }

        //返回
        function backAway() {
            $.modal.close();
            var parent = window.parent;
            parent.$.table.refresh();
        }

        //流程
        var data = {};
        data.procInstId = [[${oaPaymentOweBill.procInstId}]];
        data.id = [[${oaPaymentOweBill.id}]];
        selectActProcessList(data, 'approveTaskId');
    </script>
</body>
</html>
