<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('补卡申请审批')" />
<th:block th:include="include :: bootstrap-fileinput-css" />
<style>
.add_btn_mt {
	margin-top: 15px;
}
</style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">

		<!--抬头  -->
		<div class="hr-line-dashed"></div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="panel panel-default">
					<div class="panel-body ">
						<form class="form-horizontal m" id="form-oaPurchase-edit"
							th:object="${oaSupplyCard}">
							<input id="id" name="id" th:field="*{id}" type="hidden">
							<input id="taskId" name="taskId" th:value="${taskId}"
								type="hidden">
							<table class="table table-bordered table-condensed" >
								<caption class="text-center">
									<h2>补卡申请审批</h2>
								</caption>
								<tbody>
									<tr>
										<td class="active">申请人：</td>
										<td>[[*{userName}]]</td>
										<td class="active">所属公司：</td>
										<td>[[*{applyCompanyName}]]</td>
									</tr>
									<tr>
										<td class="active">申请部门：</td>
										<td>[[*{applyDeptName}]]</td>
										<td class="active">申请日期：</td>
										<td colspan="3">[[${#dates.format(oaSupplyCard.applyTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
									</tr>
									<tr>
										<td class="active">补登起始日期：</td>
										<td>[[${#dates.format(oaSupplyCard.supplyStart, 'yyyy-MM-dd HH:mm:ss')}]]</td>
										<td class="active">补登结束日期：</td>
										<td colspan="3">[[${#dates.format(oaSupplyCard.supplyEnd, 'yyyy-MM-dd HH:mm:ss')}]]</td>
									</tr>
									<tr>
										<td class="active">补登天数：</td>
										<td>[[*{supplyDays}]]</td>
										<td class="active">事由：</td>
										<td colspan="3">[[*{reason}]]</td>
									</tr>
									<tr>
										<td class="active">备注：</td>
										<td colspan="3"> [[*{remark}]] </td>
									</tr>
									<tr>
										<td class="active">附件：</td>
										<td colspan="3">
											<div class="file-loading">
												<input id="uploadFileId" type="file" multiple disabled>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</form>


					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-10 add_btn_mt">
				<button type="button" class="btn btn-sm btn-primary"
					onclick="agree()" th:if=" ${hisFlag} ne '1'">同意</button>
				<button type="button" class="btn btn-sm btn-danger"
					onclick="disagree()" th:if=" ${hisFlag} ne '1'">不同意</button>
				<button type="button" class="btn btn-sm btn-success"
						th:onclick="selectUser('','','0',[[${oaSupplyCard.id}]],'oa/oaSupplyCard/copy','flag')">
						抄送</button>
				<button type="button" class="btn btn-sm btn-danger"
					onclick="closeItem()">
					<i class="fa fa-reply-all"></i>关闭
				</button>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<th:block th:include="include :: bootstrap-fileinput-js" />
	<th:block th:include="include :: lastNode" />
	<script th:inline="javascript">
		var prefix = ctx + "oa/oaSupplyCard";
		var lastNodeId=[[${oaSupplyCard.id}]];
		var actDefineId=[[${oaSupplyCard.actDefineId}]];
		var lastStatus=[[${oaSupplyCard.status}]];
		//同意
    	function agree(){
    		$.modal.open("同意备注", ctx+"oa/task/agree/"+$("#taskId").val()+"/210/oa_supply_card/"+[[${oaSupplyCard.id}]]);
    	}
		//不同意
	    function disagree(){
	    	$.modal.open("不同意原因", ctx+"oa/task/disagree/"+$("#taskId").val()+"/210/oa_supply_card/"+[[${oaSupplyCard.id}]]);
	    }
	    //返回
		function backAway(){
			$.modal.close();
			var parent = window.parent;
			parent.$.table.refresh();
		}
		//对应的明细信息
		$(function() {
    	        var attachmentList = new Array();
    	        //回显附件
    	        var config = {
            	        url: ctx+"oa/oaAttachment/selectAttachByObjectId",
            	        type: "post",
            	        dataType: "json",
            	        data: {"objId": [[${oaSupplyCard.id}]]},
            	        success: function(result) {
    				        var imgsUrl = new Array();
            	        	var attachList = result.data;
            	        	if(attachList!=null && attachList.length>0){
            	        		var downloadConfig = new Array();
            	        		for(var i=0; i<attachList.length; i++){
            	        			var down = {};
            	        			var attach = attachList[i];
		    	        			imgsUrl.push(attach.attachmentUrl);
            	        			down.key = attach.attachmentName;
            	        			down.caption = attach.fileName;
            	        			down.extra={"fileName" : attach.attachmentName,"tableName" : "oa_attachment"};//对象或者函数，通过POST方法传递给初始预览的删除url或者AJAX服务器响应的额外数据。如果没有设置，它将默认为deleteExtraData。
            	        			if(isAssetTypeAnImage(attach.attachmentName)){
    		    	        			down.type = 'image';
    	    	        			}else{
    	    	        				down.type = 'object';
    	    	        			}
            	        			downloadConfig.push(down);
            	        		}
            	        		var option1={
            	    					id:'uploadFileId',
            	    					uploadUrl:null,
            	    					deleteUrl:null,
            	    					imgsUrl:imgsUrl,
            	    					downloadConfig:downloadConfig
            	    			}
            	        		$.common.uploadFile(option1); 
            	        	}else{
            	        		 var option2={
            	    					id:'uploadFileId',
            	    					uploadUrl:null,
            	    					deleteUrl:null,
            	    					deleteExtraData:null,
            	    					imgsUrl:new Array(),
            	    					initialPreviewConfig:null
            	    			}
            	        		$.common.uploadFile(option2);  
            	        	}
    		     			downFile();
            	        }
            	    };
            	    $.ajax(config)
            
        });
		//流程
		var data = {};
    	data.procInstId=[[${oaSupplyCard.procInstId}]];
    	data.id = [[${oaSupplyCard.id}]];
		selectActProcessList(data);
	</script>
</body>
</html>
