<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('审批收据')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-sysProReceipt-edit" th:object="${sysProReceipt}">
                        <input id="id" name="id" th:field="*{id}"  type="hidden">
                        <input id="projectId" name="projectId" th:field="*{projectId}"  type="hidden">
                        <table class="table table-bordered table-condensed" style="width: 90%; margin: 0 auto">
                            <caption class="text-center">
                                <h2>收据</h2>
                            </caption>
                            <tbody>
                            <tr>
                                <td class="active">申请人：</td>
                                <td>
                                    <input id="proposer" name="proposer" th:field="*{proposer}" class="form-control" type="hidden">
                                    <input th:field="*{userName}" class="form-control" type="text" readonly="readonly">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">申请部门：</td>
                                <td>
                                    <input id="deptId" name="deptId" th:field="*{deptId}" class="form-control" type="hidden">
                                    <input th:field="*{deptName}" class="form-control" type="text" readonly="readonly">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">申请日期：</td>
                                <td>
                                    <input id="applyTime" name="applyTime" th:value="${#dates.format(sysProReceipt  .applyTime, 'yyyy-MM-dd')}" class="form-control time-input-data" type="text" readonly="readonly">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">收款单位：</td>
                                <td>
                                    <input id="receiptUnit" name="receiptUnit" th:field="*{receiptUnit}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">摘要：</td>
                                <td>
                                    <input id="description" name="description" th:field="*{description}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">金额：</td>
                                <td>
                                    <input id="amount" name="amount" th:field="*{amount}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">金额大写：</td>
                                <td>
                                    <input id="moneyUpper" name="moneyUpper" th:field="*{moneyUpper}" class="form-control" type="text" readonly="readonly">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">盖章类型：</td>
                                <td>
                                    <select id="receiveWay" name="receiveWay" class="form-control"
                                            th:with="type=${@dict.getType('oa_seal_type')}" th:field="*{sealType}">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10 add_btn_mt">
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="agree()" th:if=" ${hisFlag} ne '1'">同意</button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="disagree()" th:if=" ${hisFlag} ne '1'">不同意</button>
                            <button type="button" class="btn btn-sm btn-success"
                                    th:onclick="selectUser('','','0',[[${sysProReceipt.id}]],'oa/sysProCrossCertifice/copy','flag')">
                                抄送</button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关闭
                            </button>
                        </div>
                    </div>
                    <!-- 审批流程记录 -->
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "oa/sysProReceipt";
    $("#form-sysProReceipt-edit").validate({
        rules:{
            xxxx:{
                required:true,
            },
        },
        focusCleanup: true
    });

    //同意
    function agree(){
        $.modal.open("同意备注", ctx+"oa/task/agree/"+[[${taskId}]]+"/GC-14/sys_pro_receipt/"+[[${sysProReceipt.id}]]);
    }
    //不同意
    function disagree(){
        $.modal.open("不同意原因", ctx+"oa/task/disagree/"+[[${taskId}]]+"/GC-14/sys_pro_receipt/"+[[${sysProReceipt.id}]]);
    }
    //返回
    function backAway(){
        $.modal.close();
        var parent = window.parent;
        parent.$.table.refresh();
    }

    //自动大小写切换
    $("input[name='amount']").bind("input propertychange",
        function() {//监控输入框的变化
            var num = $(this).val();
            var a = parseInt(num);
            var config = {
                url : ctx + "common/converMoneyToCN/" + a,
                type : "get",
                dataType : "json",
                success : function(result) {
                    if (result.code == '0') {
                        $("input[name='moneyUpper']").val(result.msg)
                    }
                }
            };
            $.ajax(config)
        });

    //流程
    var data = {};
    data.procInstId= [[${sysProReceipt.procInstId}]];
    data.id = [[${sysProReceipt.id}]];
    selectActProcessList(data);
</script>
</body>
</html>
