<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改施工组织方案')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-sysProOrganizationPlan-edit" th:object="${sysProOrganizationPlan}">
                        <input id="id" name="id" th:field="*{id}"  type="hidden">
                        <input id="projectId" name="projectId" th:field="*{projectId}"  type="hidden">
                        <input id="procInstId" name="procInstId" th:field="*{procInstId}" type="hidden">
                        <table class="table table-bordered table-condensed table-bot">
                            <caption class="text-center">
                                <h2>施工组织方案</h2>
                            </caption>
                            <tbody>
                            <tr>
                                <td class="active">编号：</td>
                                <td>
                                    <input id="code" name="code" th:field="*{code}" class="form-control" type="text">
                                </td>
                                <td class="active">申请人：</td>
                                <td>
                                    <input id="proposer" name="proposer" th:field="*{proposer}" class="form-control" type="hidden">
                                    <input th:field="*{userName}" class="form-control" type="text" readonly="readonly">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">公司名称：</td>
                                <td>
                                    <input id="companyId" name="companyId" th:field="*{companyId}" class="form-control" type="hidden">
                                    <input th:field="*{companyName}" class="form-control" type="text" readonly="readonly">
                                </td>
                                <td class="active">申请部门：</td>
                                <td>
                                    <input id="deptId" name="deptId" th:field="*{deptId}" class="form-control" type="hidden">
                                    <input th:field="*{deptName}" class="form-control" type="text" readonly="readonly">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">审批状态：</td>
                                <td>
                                    <select class="form-control" name="status"
                                            th:with="type=${@dict.getType('oa_leave_status')}"
                                            th:field="*{status}" disabled="disabled">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                                <td class="active">申请日期：</td>
                                <td>
                                    <input id="applyTime" name="applyTime" th:value="${#dates.format(sysProOrganizationPlan.applyTime, 'yyyy-MM-dd')}"
                                           class="form-control time-input-data" type="text" readonly="readonly" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">方案名称：</td>
                                <td>
                                    <input id="planName" name="planName" th:field="*{planName}" class="form-control" type="text">
                                </td>
                                <td class="active">项目驻点负责人：</td>
                                <td>
                                    <input id="projectPointManager" name="projectPointManager" th:field="*{projectPointManager}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">项目负责人：</td>
                                <td>
                                    <input id="projectManager" name="projectManager" th:field="*{projectManager}" class="form-control" type="text">
                                </td>
                                <td class="active">合作方名字：</td>
                                <td>
                                    <input id="partnerName" name="partnerName" th:field="*{partnerName}" class="form-control" type="text">
                                </td>
                            <tr>
                                <td class="active">主要条款：</td>
                                <td colspan="3">
                                    <input id="mainClause" name="mainClause" th:field="*{mainClause}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">附件：</td>
                                <td colspan="3">
                                    <div class="file-loading">
                                        <input id="uploadFileId" type="file" multiple disabled>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10 add_btn_mt">
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="agree()" th:if=" ${hisFlag} ne '1'">同意</button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="disagree()" th:if=" ${hisFlag} ne '1'">不同意</button>
                            <button type="button" class="btn btn-sm btn-success"
                                    th:onclick="selectUser('','','0',[[${sysProOrganizationPlan.id}]],'oa/sysProOrganizationPlan/copy','flag')">
                                抄送</button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关闭
                            </button>
                        </div>
                    </div>
                    <!-- 审批流程记录 -->
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-fileinput-js" />
<script th:inline="javascript">
    var prefix = ctx + "oa/sysProOrganizationPlan";
    $("#form-sysProOrganizationPlan-edit").validate({
        rules:{
            xxxx:{
                required:true,
            },
        },
        focusCleanup: true
    });

    //流程

    var data = {};
    data.procInstId= [[${sysProOrganizationPlan.procInstId}]];
    data.id = [[${sysProOrganizationPlan.id}]];
    selectActProcessList(data);


    $(function () {
        var attachmentList = new Array();
        //回显附件
        var config = {
            url: ctx+"oa/oaAttachment/selectAttachByObjectId",
            type: "post",
            dataType: "json",
            data: {"objId": [[${sysProOrganizationPlan.id}]]},
            success: function(result) {
                var imgsUrl = new Array();
                var attachList = result.data;
                if(attachList!=null && attachList.length>0){
                    var downloadConfig = new Array();
                    for(var i=0; i<attachList.length; i++){
                        var down = {};
                        var attach = attachList[i];
                        imgsUrl.push(attach.attachmentUrl);
                        down.key = attach.attachmentName;
                        down.caption = attach.fileName;
                        down.extra={"fileName" : attach.attachmentName,"tableName" : "oa_attachment"};//对象或者函数，通过POST方法传递给初始预览的删除url或者AJAX服务器响应的额外数据。如果没有设置，它将默认为deleteExtraData。
                        if(isAssetTypeAnImage(attach.attachmentName)){
                            down.type = 'image';
                        }else{
                            down.type = 'object';
                        }
                        downloadConfig.push(down);
                    }
                    var option1={
                        id:'uploadFileId',
                        uploadUrl:null,
                        deleteUrl:null,
                        imgsUrl:imgsUrl,
                        downloadConfig:downloadConfig
                    }
                    $.common.uploadFile(option1);
                }else{
                    var option2={
                        id:'uploadFileId',
                        uploadUrl:null,
                        deleteUrl:null,
                        deleteExtraData:null,
                        imgsUrl:new Array(),
                        initialPreviewConfig:null
                    }
                    $.common.uploadFile(option2);
                }
                downFile();
            }
        };
        $.ajax(config)
    });

    //同意
    function agree(){
        $.modal.open("同意备注", ctx+"oa/task/agree/"+[[${taskId}]]+"/GC-23/sys_pro_organization_plan/"+[[${sysProOrganizationPlan.id}]]);
    }
    //不同意
    function disagree(){
        $.modal.open("不同意原因", ctx+"oa/task/disagree/"+[[${taskId}]]+"/GC-23/sys_pro_organization_plan/"+[[${sysProOrganizationPlan.id}]]);
    }
    //返回
    function backAway(){
        $.modal.close();
        var parent = window.parent;
        parent.$.table.refresh();
    }

</script>
</body>
</html>
