<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('下载文件列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								存储类别：<input type="text" name="storeCategory"/>
							</li>

							<li>
								区域：<input type="text" name="domain"/>
							</li>

							<li>
								桶名：<input type="text" name="bucketName"/>
							</li>

							<li>
								文件用户ID：<input type="text" name="fileUserId"/>
							</li>

							<li>
								文件名：<input type="text" name="fileName"/>
							</li>

							<li>
								文件大小：<input type="text" name="capacity"/>
							</li>

							<li>
								加密状态（0不加密 1加密）：<input type="text" name="encryptedState"/>
							</li>

							<li>
								最后改变时间：<input type="text" name="changeTime"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:sysDownFiles:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:sysDownFiles:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:sysDownFiles:remove">
					<i class="fa fa-remove"></i> 删除
				</a>-->
				<a class="btn btn-warning" onclick="downAllFiles()" shiro:hasPermission="system:sysDownFiles:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:sysDownFiles:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:sysDownFiles:remove')}]];
		var downFilesFlag = [[${@permission.hasPermi('system:sysDownFiles:downFiles')}]];
        var prefix = ctx + "system/sysDownFiles";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "下载文件",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'fileId', 
					title : '文件ID',
					visible: false
				},
				{
					field : 'storeCategory', 
					title : '存储类别',
					sortable: true
				},
				{
					field : 'domain', 
					title : '区域',
					sortable: true
				},
				{
					field : 'bucketName', 
					title : '桶名',
					sortable: true
				},
				{
					field : 'fileUserId',
					title : '文件用户ID',
					sortable: true
				},
				{
					field : 'fileName', 
					title : '文件名',
					sortable: true
				},
				{
					field : 'capacity', 
					title : '文件大小',
					sortable: true
				},
				{
					field : 'encryptedState', 
					title : '加密状态（0不加密 1加密）',
					sortable: true
				},
				{
					field : 'changeTime', 
					title : '最后改变时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	//actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.fileId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.fileId + '\')"><i class="fa fa-remove"></i>删除</a>');
						actions.push('<a class="btn btn-danger btn-xs ' + '" href="#" onclick="downFiles(\'' +row.bucketName +"','"+ row.fileName + '\')"><i class="fa fa-edit"></i>下载</a>');
                        return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
		//下载附件
		var attachmentList = new Array();
		var option={
			id:'uploadFileId',
			uploadUrl:ctx+"system/sysDownFiles/downFiles",
			deleteUrl:null,
			deleteExtraData:null,
			imgsUrl:new Array(),
			initialPreviewConfig:null,
			showPreview:false
		}
		//$.common.downFileFromObs(option);

		function downFiles(bucketName,fileName) {
			var fileName = fileName;
			//var menuIds = $.tree.getCheckedNodes();
			var pathName=window.document.location.pathname;
			var url = window.location.href;
			location.href = ctx + "system/sysDownFiles/downFiles/"+encodeURI(fileName)+"/"+encodeURI(bucketName);
			// $.ajax({
			// 	cache : true,
			// 	type : "POST",
			// 	url : ctx + "system/sysDownFiles/downFiles",
			// 	data : {
			// 		"fileName": fileName,
			// 		"bucketName":bucketName
			// 	},
			// 	async : false,
			// 	error : function(request) {
			// 		$.modal.alertError("系统错误");
			// 	},
			// 	success : function(data) {
			// 		//$.operate.successCallback(data);
			// 		//window.location.href = ctx + "system/sysDownFiles?fileName=" + encodeURI(data.msg) + "&delete=" + true;
			// 		$.modal.msgSuccess("下载成功");
			// 	}
			// });
		}

		function downAllFiles() {
			table.set();
			$.modal.confirm("确定导出所有" + table.options.modalName + "吗？", function() {
				var currentId = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
				//var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
				location.href = ctx + "system/sysDownFiles/downOneMoreFiles/"+encodeURI(currentId);
				//$.modal.loading("正在导出数据，请稍后...");
			});
		}

    </script>
</body>
</html>