<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改员工绩效')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-ytPeoplePerformance-edit"
			th:object="${ytPeoplePerformance}">
			<input id="id" name="id" th:field="*{id}" type="hidden">

			<div class="col-sm-10">
				<div class="form-group">
					<label class="col-sm-3 control-label">考核值：</label>
					<div class="col-sm-8">
						<input id="assessmentValue" name="assessmentValue"  class="form-control" type="text" th:value="*{assessmentValue}">
					</div>
				</div>
			</div>			
			<div class="col-sm-10">
				<div class="form-group">
					<label class="col-sm-3 control-label">扣款/奖励：</label>
					<div class="col-sm-8">
						<input id="reward" name="reward" class="form-control" type="text" th:value="*{reward}">
					</div>
				</div>
			</div>
			
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "yt/ytPeoplePerformance";
		

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $(
						'#form-ytPeoplePerformance-edit').serialize());
			}
		}
	</script>
</body>
</html>
