<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改用车申请')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <!--抬头  -->
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <form class="form-horizontal m" id="form-oaCarApply-edit" th:object="${oaCarApply}">
                        <input id="id" name="id" th:field="*{id}" type="hidden">
                        <input name="procInstId" type="hidden" id="procInstId" th:value="*{procInstId}"/>
                        <table class="table table-bordered table-condensed">
                            <caption class="text-center">
                                <h2>用车申请</h2>
                            </caption>
                            <tbody>
                            <th colspan="4">
                                表单信息
                            </th>
                            <tr>
                                <td class="active"><span style="color: red;">*</span>申请人</td>
                                <td>
                                    <input id="proposer" name="proposer" th:field="*{userName}" class="form-control"
                                           type="text" readonly>
                                </td>
                                <td class="active"><span style="color: red;">*</span>归属公司</td>
                                <td>
                                    <input type="hidden" name="companyId" id="companyId" th:value="*{companyId}"/>
                                    <input type="text" id="companyName" name="companyName" class="form-control"
                                           onclick="selectDeptTree('companyId','companyName','0')"
                                           th:value="*{companyName}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="active"><span style="color: red;">*</span>归属部门</td>
                                <td>
                                    <input id="treeId" name="deptId" class="form-control" type="hidden"
                                           th:value="*{deptId}">
                                    <input id="treeName" name="deptName" class="form-control" type="text"
                                           onclick="selectDeptTree('treeId','treeName','1')"
                                           th:value="*{dept.deptName}">
                                </td>
                                <td class="active"><span style="color: red;">*</span>出发时间</td>
                                <td>
                                    <input id="applyTimeFrom" name="applyTimeFrom"
                                           th:value="${#dates.format(oaCarApply.applyTimeFrom, 'yyyy-MM-dd HH:mm:ss')}"
                                           placeholder="出发时间" autocomplete="off" class="form-control time-input"
                                           type="text" required="required" data-callback="limitTime" data-mark="1">
                                </td>
                            </tr>
                            <tr>
                                <td class="active"><span style="color: red;">*</span>返回时间</td>
                                <td>
                                    <input id="applyTimeTo" name="applyTimeTo"
                                           th:value="${#dates.format(oaCarApply.applyTimeTo, 'yyyy-MM-dd HH:mm:ss')}"
                                           placeholder="返回时间" autocomplete="off" class="form-control time-input"
                                           type="text" required="required" data-callback="limitTime" data-mark="2">
                                </td>
                                <td class="active">车牌号</td>
                                <td>
                                    <input id="carNo" name="carNo" th:field="*{carNo}" class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">用车时长</td>
                                <td>
                                    <input id="carUsed" name="carUsed" th:field="*{carUsed}" class="form-control"
                                           type="text">
                                </td>
                                <td class="active">驾驶员信息</td>
                                <td>
                                    <input id="driverInfo" name="driverInfo" th:field="*{driverInfo}"
                                           class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">乘客信息</td>
                                <td>
                                    <input id="passengerInfo" name="passengerInfo" th:field="*{passengerInfo}"
                                           class="form-control" type="text">
                                </td>
                                <td class="active">乘车地点</td>
                                <td>
                                    <input id="ridePlace" name="ridePlace" th:field="*{ridePlace}" class="form-control"
                                           type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">用车事由</td>
                                <td>
                                    <input id="applyReason" name="applyReason" th:field="*{applyReason}"
                                           class="form-control" type="text">
                                </td>
                                <td class="active">目的地</td>
                                <td>
                                    <input id="destination" name="destination" th:field="*{destination}"
                                           class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">里程开始数</td>
                                <td>
                                    <input id="mileageStart" name="mileageStart" th:field="*{mileageStart}"
                                           class="form-control" type="text">
                                </td>
                                <td class="active">里程终止数</td>
                                <td>
                                    <input id="mileageEnd" name="mileageEnd" th:field="*{mileageEnd}"
                                           class="form-control" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="active">行驶里程数</td>
                                <td>
                                    <input id="mileage" name="mileage" th:field="*{mileage}" class="form-control"
                                           type="text">
                                </td>
                                <td class="active">指定司机</td>
                                <td>
                                    <input id="designatedDriver" onclick="selectUserById()" th:value="*{driverName}"
                                           class="form-control" type="text">
                                    <input name="designatedDriver" type="hidden"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">用车类型</td>
                                <td>
                                    <select name="useCarType" class="form-control"
                                            th:with="type=${@dict.getType('oa_use_car_type')}" th:field="*{useCarType}"
                                            disabled="disabled">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                                <td class="active">状态</td>
                                <td>
                                    <select name="status" class="form-control"
                                            th:with="type=${@dict.getType('oa_leave_status')}" th:field="*{status}"
                                            disabled="disabled">
                                        <option value="">所有</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="active">备注</td>
                                <td colspan="3">
                                    <input id="remark" name="remark" th:field="*{remark}" class="form-control"
                                           type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="button" class="btn btn-sm btn-info" onclick="saveDraft()"
                                    th:if="${oaCarApply.status} == '99'">保存草稿
                            </button>
                            <button type="button" th:if="${oaCarApply.status} == '99'" class="btn btn-sm btn-primary"
                                    onclick="submitHandlerDraft()">提交
                            </button>
                            <button type="button" th:if="${oaCarApply.status} == '3'"
                                    class="btn btn-sm btn-primary" onclick="submitHandler()">提交
                            </button>
                            <button type="button" class="btn btn-sm btn-info"
                                    th:if="${oaCarApply.status!='2'&&oaCarApply.status!='16'&&oaCarApply.status!='99'}"
                                    onclick="urge()">
                                <i class="fa fa-check"></i>催办
                            </button>
                            <button type="button" class="btn btn-sm btn-success"
                                    th:if="${oaCarApply.status} != '99'"
                                    th:onclick="selectUser('','','0',[[${oaCarApply.id}]],'oa/oaCarApply/copy')">
                                抄送
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="closeItem()">
                                <i class="fa fa-reply-all"></i>关 闭
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table" data-mobile-responsive="true"></table>
                    </div>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="approveTaskId" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: lastNode"/>
<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "oa/oaCarApply";
    var lastNodeId = [[${oaCarApply.id}]];
    var actDefineId = [[${oaCarApply.actDefineId}]];
    var lastStatus = [[${oaCarApply.status}]];
    //流程
    var data = {};
    data.procInstId = [[${oaCarApply.procInstId}]];
    data.id = [[${oaCarApply.id}]];
    selectActProcessList(data);

    //时长计算
    var dataTime = {};
    dataTime.startTime = $('#applyTimeFrom').val();
    dataTime.endTime = $('#applyTimeTo').val();

    function limitTime(value, dataT, mark) {
        if (mark == '1') {
            dataTime.startTime = value
        } else {
            dataTime.endTime = value
        }
        if (dataTime.startTime != '' && dataTime.endTime != ''
            && dataTime.startTime != undefined && dataTime.endTime != undefined) {
            var config = {
                contentType: "application/json;charset=UTF-8",
                url: prefix + "/calculateHour",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dataTime),
                success: function (result) {
                    if (result.code != '0') {
                        $("#carUsed").val('');
                        $.modal.alertWarning(result.msg);
                    } else {
                        $("#carUsed").val(result.msg);
                    }
                }
            };
            $.ajax(config)
        }
    }

    //提交
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.saveTab(prefix + "/edit", $('#form-oaCarApply-edit')
                .serialize());
        }
    }

    //提交草稿
    function submitHandlerDraft() {
        $.operate.saveTab(prefix + "/submitDraft", $('#form-oaCarApply-edit')
            .serialize());
    }

    //保存草稿
    function saveDraft() {
        if ($.validate.form()) {
            $.operate.saveTab(prefix + "/saveDraft", $('#form-oaCarApply-edit')
                .serialize());
        }
    }

    $(function () {
        var options = {
            uniqueId: "taskId",
            url: ctx + "oa/oatravel/processList?procInstId="
                + $("#procInstId").val(),
            modalName: "流程信息",
            search: false,
            showExport: false,
            columns: [{
                checkbox: false
            }, {
                field: 'taskId',
                title: '任务id'
            }, {
                field: 'actName',
                title: '流程名称'
            }, {
                field: 'startTime',
                title: '开始时间'
            }, {
                field: 'endTime',
                title: '结束时间'
            }, {
                field: 'message',
                title: '审批信息'
            }]
        };
        $.table.init(options);
    });

    /*指定司机*/
    function selectUserById() {
        var options = {
            title: '选择用户',
            width: "1200",
            url: ctx + "oa/oaApplyTemplate/selectUser",
            callBack: doSubmit1
        };
        $.modal.openOptions(options);
    }

    function doSubmit1(index, layero) {
        var iframeWin = layero.find('iframe')[0];
        var result = iframeWin.contentWindow.submitHandler();
        var data = result.data;
        $('#designatedDriver').val(data.userName);
        $("input[name='designatedDriver']").val(data.userId);
        /* var row = $("#bootstrap-table").bootstrapTable('getSelections');
        if(row.length<=0){
          $.modal.alertWarning('请先选择要操作的记录！');
          return;
         } */
    }
</script>
</body>
</html>
