<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改跨区涉税报验证')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content" th:object="${sysProCrossCertifice}">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-body ">
                        <form class="form-horizontal m" id="form-sysProCrossCertifice-edit" >
                            <input id="id" name="id" th:field="*{id}"  type="hidden">
                            <input id="projectId" name="projectId" th:field="*{projectId}"  type="hidden">
                            <input id="procInstId" name="procInstId" th:field="*{procInstId}" type="hidden">
                            <table class="table table-bordered table-condensed table-bot">
                                <caption class="text-center">
                                    <h2>跨区涉税报验证</h2>
                                </caption>
                                <tbody>
                                    <tr>
                                        <td class="active">项目：</td>
                                        <td>
                                            <input id="proName" name="proName" th:field="*{proName}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                        <td class="active">编号：</td>
                                        <td>
                                            <input id="code" name="code" th:field="*{code}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">申请人：</td>
                                        <td>
                                            <input id="proposer" name="proposer" th:field="*{proposer}" class="form-control" type="hidden">
                                            <input th:field="*{userName}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                        <td class="active">公司名称：</td>
                                        <td>
                                            <input id="companyId" name="companyId" th:field="*{companyId}" class="form-control" type="hidden">
                                            <input th:field="*{companyName}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">部门名称：</td>
                                        <td>
                                            <input id="deptId" name="deptId" th:field="*{deptId}" class="form-control" type="hidden">
                                            <input th:field="*{deptName}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                        <td class="active">审批状态：</td>
                                        <td>
                                            <select class="form-control" name="status"
                                                    th:with="type=${@dict.getType('oa_leave_status')}"
                                                    th:field="*{status}" disabled="disabled">
                                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">申请日期：</td>
                                        <td>
                                            <input id="applyTime" name="applyTime" th:value="${#dates.format(sysProCrossCertifice.applyTime, 'yyyy-MM-dd')}"
                                                   class="form-control time-input-data" type="text" readonly="readonly" disabled="disabled">
                                        </td>
                                        <td class="active">到期时间：</td>
                                        <td>
                                            <input id="predictDate" name="predictDate"  th:value="${#dates.format(sysProCrossCertifice.predictDate, 'yyyy-MM-dd')}"
                                                   class="form-control time-input-data" type="text" readonly="readonly" disabled="disabled">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">工程地点：</td>
                                        <td>
                                            <input id="address" name="address" th:field="*{address}" class="form-control" type="text">
                                        </td>
                                        <td class="active">建设单位：</td>
                                        <td>
                                            <input id="constructUnit" name="constructUnit" th:field="*{constructUnit}" class="form-control" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">税务机关：</td>
                                        <td>
                                            <input id="taxAuthority" name="taxAuthority" th:field="*{taxAuthority}" class="form-control" type="text">
                                        </td>
                                        <td class="active">开具金额：</td>
                                        <td>
                                            <input id="amount" name="amount" th:field="*{amount}" class="form-control" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">金额大写：</td>
                                        <td>
                                            <input id="moneyUpper" name="moneyUpper" th:field="*{moneyUpper}" class="form-control" type="text" readonly="readonly">
                                        </td>
                                        <td class="active">押金：</td>
                                        <td>
                                            <input id="calshPledge" name="calshPledge" th:field="*{calshPledge}" class="form-control" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">收件方式：</td>
                                        <td>
                                            <select id="receiveWay" name="receiveWay" class="form-control"
                                                    th:with="type=${@dict.getType('sys_pro_cross_receiveWay')}"
                                                    th:field="*{receiveWay}" disabled="disabled">
                                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                            </select>
                                            <table class="hidden receiveWay-1" style="width: 100%">
                                                <tr>
                                                    <td class="active">邮寄地址：</td>
                                                    <td>
                                                        <input id="postAddress" name="postAddress" th:field="*{postAddress}" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="active">电话：</td>
                                                    <td>
                                                        <input id="postPhone" name="postPhone" th:field="*{postPhone}" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="active">收件人：</td>
                                                    <td>
                                                        <input id="receiver" name="receiver" th:field="*{receiver}" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="active">付款方式：</td>
                                                    <td>
                                                        <select id="payType" name="payType" class="form-control"
                                                                th:with="type=${@dict.getType('sys_pro_cross_payType')}" th:field="*{payType}" disabled="disabled">
                                                            <option value="">------所有------</option>
                                                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="active">核销情况：</td>
                                        <td>
                                            <select id="chargeOff" name="chargeOff" class="form-control"
                                                    th:with="type=${@dict.getType('sys_pro_cross_chargeOff')}"
                                                    th:field="*{chargeOff}" disabled="disabled">
                                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="active">备注：</td>
                                        <td colspan="3">
                                            <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="row" th:if="${!sysProCrossCertifice.hasEditPerm}" >
                            <div class="col-sm-offset-5 col-sm-10"       style="margin-top: 20px" >
                                <button type="button" class="btn btn-sm btn-info" onclick="saveDraft()" th:if="${sysProCrossCertifice.status} == '99'">
                                    <i class="fa fa-check"></i>保存草稿
                                </button>

                                <button type="button" th:if="${sysProCrossCertifice.status} == '99'"
                                        class="btn btn-sm btn-primary" onclick="submitHandlerDraft()">
                                    <i class="fa fa-check"></i>提交
                                </button>
                                <button type="button" class="btn btn-sm btn-primary"
                                        onclick="submitHandler()" th:if="${sysProCrossCertifice.status=='3'}">
                                    <i class="fa fa-check"></i>提交
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()">
                                    <i class="fa fa-reply-all"></i>关 闭
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-12 select-table table-striped" th:if="${sysProCrossCertifice.hasEditPerm}" >
                            <from  class="form-horizontal m " id="form-sysProCrossCertifice-edit-approval" th:if="${sysProCrossCertifice.status=='2'}" th:object="${sysProCrossCertifice}">
                                <input name="id" th:field="*{id}"  type="hidden">
                                <table class="table table-bordered table-condensed table-bot">
                                    <tbody>
                                        <tr>
                                            <td class="active">报验证合同期限：</td>
                                            <td>
                                                <input  name="contractPeriod" class="form-control" type="text">
                                            </td>
                                            <td class="active">编号：</td>
                                            <td>
                                                <input name="code" class="form-control" type="text" >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="active">到期时间：</td>
                                            <td colspan="3">
                                                <div class="input-group data">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input  name="predictDate"  class="form-control time-input-data" type="text" >
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </from>
                            <div class="col-sm-offset-5 col-sm-10" th:if="${sysProCrossCertifice.status=='2'}">
                                <button type="button" class="btn btn-sm btn-info" onclick="saveDraftApproval()">
                                    <i class="fa fa-check"></i>提交
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()">
                                    <i class="fa fa-reply-all"></i>关 闭
                                </button>
                            </div>

                        </div>
                        <!-- 审批流程记录 -->
                        <div class="col-sm-12 select-table table-striped">
                            <table id="bootstrap-table" data-mobile-responsive="true"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="include::footer"></div>
    <script th:inline="javascript">
		var prefix = ctx + "oa/sysProCrossCertifice";
		$("#form-sysProCrossCertifice-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});

		//取件方式判断
        var receiveWay =$('#receiveWay');
        var receiveWays =  $('.receiveWay-1');
        if(receiveWay.val()=='1'){
            receiveWays.removeClass('hidden');
        };
        receiveWay.change(function () {
            if($(this).val()==='1'){
                receiveWays.removeClass('hidden')
            }else{
                receiveWays.children().find('input').val('');
                receiveWays.children().find('select').val('');
                receiveWays.addClass('hidden');
            }
        });

		//提交
		function submitHandler() {
	        if ($.validate.form()) {
                var data = {};
                data = $('#form-sysProCrossCertifice-edit').serializeObject();
                data.flag = true;
                if([[${sysProCrossCertifice.chargeOff}]] == '3'){
                    //核销审核重新提交
                    $.operate.saveJsonTab(prefix + "/cancelSubmitAgain", data);
                }else{
                    //提交
                    $.operate.saveJsonTab(prefix + "/submitDraft", data);
                }
	        }
	    }

        //保存草稿
        function saveDraft() {
            if ($.validate.form()) {
                var data = {};
                data = $('#form-sysProCrossCertifice-edit').serializeObject();
                data.flag = true;
                $.operate.saveJsonTab(prefix + "/saveDraft", data);
            }
        }

        //提交草稿
        function submitHandlerDraft() {
            if ($.validate.form()) {
                var data = {};
                data = $('#form-sysProCrossCertifice-edit').serializeObject();
                data.flag = true;
                $.operate.saveJsonTab(prefix + "/submitDraft", data);
            }
        }
        
        //审核提交
        function saveDraftApproval(){
            var data={};
            data.id = $('#form-sysProCrossCertifice-edit-approval input[name="id"]').val();
            data.contractPeriod = $('#form-sysProCrossCertifice-edit-approval input[name="contractPeriod"]').val();
            data.code = $('#form-sysProCrossCertifice-edit-approval input[name="code"]').val();
            data.predictDate = $('#form-sysProCrossCertifice-edit-approval input[name="predictDate"]').val();

            if (data.contractPeriod!=''&&data.code!=''&&data.predictDate!=''){
                console.log($.param(data));
                $.operate.saveTab(prefix + "/edit", $.param(data));
            }


        }

	    //自动大小写切换
        $("input[name='amount']").bind("input propertychange",
            function() {//监控输入框的变化
                var num = $(this).val();
                var a = parseInt(num);
                var config = {
                    url : ctx + "common/converMoneyToCN/" + a,
                    type : "get",
                    dataType : "json",
                    success : function(result) {
                        if (result.code == '0') {
                            $("input[name='moneyUpper']").val(result.msg)
                        }
                    }
                };
                $.ajax(config)
            });

        //流程
        var data = {};
        data.procInstId= [[${sysProCrossCertifice.procInstId}]];
        data.id = [[${sysProCrossCertifice.id}]];
        selectActProcessList(data);

    </script>
</body>
</html>
